# Condense Weekly Data, Merge and Clean

In [1]:
# Imports

import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
# CSVs

injuries = pd.read_csv('inj_clean.csv')
stats = pd.read_csv('ss_clean.csv')
weekly = pd.read_csv('rw_clean.csv')
seasonal = pd.read_csv('rs_clean.csv')

C:\Users\nick_\AppData\Local\Temp\ipykernel_4268\39304648.py:5: DtypeWarning: Columns (3,24) have mixed types. Specify dtype option on import or set low_memory=False.
  weekly = pd.read_csv('rw_clean.csv')

In [3]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 63 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    10979 non-null  object
 1   season                       10979 non-null  int64
 2   season_type                  10979 non-null  object
 3   completions                  10979 non-null  int64
 4   attempts                     10979 non-null  int64
 5   passing_yards                10979 non-null  float64
 6   passing_tds                  10979 non-null  int64
 7   interceptions                10979 non-null  float64
 8   sacks                        10979 non-null  float64
 9   sack_yards                   10979 non-null  float64
 10  sack_fumbles                 10979 non-null  int64
 11  sack_fumbles_lost            10979 non-null  int64
 12  passing_air_yards            10979 non-null  float64
 13  passing_yards_after_catch    10979 non-null  float64
 14  passing_first_downs          10979 non-null  float64
 15  passing_epa                  10979 non-null  float64
 16  passing_2pt_conversions      10979 non-null  int64
 17  pacr                         10979 non-null  float64
 18  dakota                       10979 non-null  float64
 19  carries                      10979 non-null  int64
 20  rushing_yards                10979 non-null  float64
 21  rushing_tds                  10979 non-null  int64
 22  rushing_fumbles              10979 non-null  float64
 23  rushing_fumbles_lost         10979 non-null  float64
 24  rushing_first_downs          10979 non-null  float64
 25  rushing_epa                  10979 non-null  float64
 26  rushing_2pt_conversions      10979 non-null  int64
 27  receptions                   10979 non-null  int64
 28  targets                      10979 non-null  int64
 29  receiving_yards              10979 non-null  float64
 30  receiving_tds                10979 non-null  int64
 31  receiving_fumbles            10979 non-null  float64
 32  receiving_fumbles_lost       10979 non-null  float64
 33  receiving_air_yards          10979 non-null  float64
 34  receiving_yards_after_catch  10979 non-null  float64
 35  receiving_first_downs        10979 non-null  float64
 36  receiving_epa                10979 non-null  float64
 37  receiving_2pt_conversions    10979 non-null  int64
 38  racr                         10979 non-null  float64
 39  target_share                 10979 non-null  float64
 40  air_yards_share              10979 non-null  float64
 41  wopr_x                       10979 non-null  float64
 42  special_teams_tds            10979 non-null  float64
 43  fantasy_points               10979 non-null  float64
 44  fantasy_points_ppr           10979 non-null  float64
 45  games                        10979 non-null  int64
 46  tgt_sh                       10979 non-null  float64
 47  ay_sh                        10979 non-null  float64
 48  yac_sh                       10979 non-null  float64
 49  wopr_y                       10979 non-null  float64
 50  ry_sh                        10979 non-null  float64
 51  rtd_sh                       10737 non-null  float64
 52  rfd_sh                       10979 non-null  float64
 53  rtdfd_sh                     10979 non-null  float64
 54  dom                          10737 non-null  float64
 55  w8dom                        10737 non-null  float64
 56  yptmpa                       10979 non-null  float64
 57  ppr_sh                       10979 non-null  float64
 58  cleaned_name                 10979 non-null  object
 59  id_season                    10979 non-null  object
 60  position                     10979 non-null  object
 61  team                         10816 non-null  object
 62  unique_id                    10979 non-null  object
dtypes: float64(41), int64(15), object(7)
memory usage: 5.3+ MB

## Weekly

In [4]:
weekly.head()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,height,weight,college,player_id,espn_id,sportradar_id,yahoo_id,rotowire_id,pff_id,pfr_id,fantasy_data_id,sleeper_id,years_exp,headshot_url,ngs_position,week,game_type,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age,cleaned_name,unique_id
0,2009,PHI,K,NaN,2.0,ACT,David Akers,David,Akers,1974-12-09,70.0,200.0,NaN,00-0000108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,https://static.www.nfl.com/image/private/f_aut...,NaN,7,REG,A01,David,AKE551610,NaN,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,NaN,NaN,34.880,David Akers,00-0000108_2009_David_Akers_K
1,2009,PHI,K,NaN,2.0,ACT,David Akers,David,Akers,1974-12-09,70.0,200.0,NaN,00-0000108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,https://static.www.nfl.com/image/private/f_aut...,NaN,2,REG,A01,David,AKE551610,NaN,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,NaN,NaN,34.782,David Akers,00-0000108_2009_David_Akers_K
2,2009,PHI,K,NaN,2.0,ACT,David Akers,David,Akers,1974-12-09,70.0,200.0,NaN,00-0000108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,https://static.www.nfl.com/image/private/f_aut...,NaN,4,REG,A01,David,AKE551610,NaN,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,NaN,NaN,NaN,David Akers,00-0000108_2009_David_Akers_K
3,2009,PHI,K,NaN,2.0,ACT,David Akers,David,Akers,1974-12-09,70.0,200.0,NaN,00-0000108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,https://static.www.nfl.com/image/private/f_aut...,NaN,5,REG,A01,David,AKE551610,NaN,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,NaN,NaN,34.839,David Akers,00-0000108_2009_David_Akers_K
4,2009,PHI,K,NaN,2.0,ACT,David Akers,David,Akers,1974-12-09,70.0,200.0,NaN,00-0000108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,https://static.www.nfl.com/image/private/f_aut...,NaN,6,REG,A01,David,AKE551610,NaN,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,NaN,NaN,34.858,David Akers,00-0000108_2009_David_Akers_K

In [5]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206429 entries, 0 to 206428
Data columns (total 39 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   season                   206429 non-null  int64
 1   team                     206429 non-null  object
 2   position                 206429 non-null  object
 3   depth_chart_position     138519 non-null  object
 4   jersey_number            206131 non-null  float64
 5   status                   206425 non-null  object
 6   player_name              206429 non-null  object
 7   first_name               206429 non-null  object
 8   last_name                206429 non-null  object
 9   birth_date               197386 non-null  object
 10  height                   206341 non-null  float64
 11  weight                   206427 non-null  float64
 12  college                  175850 non-null  object
 13  player_id                206343 non-null  object
 14  espn_id                  166213 non-null  float64
 15  sportradar_id            171502 non-null  object
 16  yahoo_id                 156673 non-null  float64
 17  rotowire_id              172071 non-null  float64
 18  pff_id                   154686 non-null  float64
 19  pfr_id                   130657 non-null  object
 20  fantasy_data_id          144054 non-null  float64
 21  sleeper_id               164221 non-null  float64
 22  years_exp                205466 non-null  float64
 23  headshot_url             203063 non-null  object
 24  ngs_position             59922 non-null   object
 25  week                     206429 non-null  int64
 26  game_type                206429 non-null  object
 27  status_description_abbr  173810 non-null  object
 28  football_name            206425 non-null  object
 29  esb_id                   206262 non-null  object
 30  gsis_it_id               176292 non-null  float64
 31  smart_id                 206202 non-null  object
 32  entry_year               205466 non-null  float64
 33  rookie_year              205420 non-null  float64
 34  draft_club               127659 non-null  object
 35  draft_number             116736 non-null  float64
 36  age                      182850 non-null  float64
 37  cleaned_name             206327 non-null  object
 38  unique_id                206327 non-null  object
dtypes: float64(15), int64(2), object(22)
memory usage: 61.4+ MB

**Handful of columns are irrelevent or could have been relevent but have too many Nans. Dropping those columns**

In [6]:
columns_to_drop = ['depth_chart_position', 'first_name', 'last_name', 'college', 'espn_id',
                   'sportradar_id', 'yahoo_id', 'rotowire_id', 'pff_id',
                   'pfr_id', 'fantasy_data_id', 'sleeper_id', 'headshot_url', 'status_description_abbr',
                   'football_name', 'esb_id', 'gsis_it_id', 'smart_id', 'draft_number', 'ngs_position',
                   'draft_club']

weekly = weekly.drop(columns=columns_to_drop)

In [7]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206429 entries, 0 to 206428
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         206429 non-null  int64
 1   team           206429 non-null  object
 2   position       206429 non-null  object
 3   jersey_number  206131 non-null  float64
 4   status         206425 non-null  object
 5   player_name    206429 non-null  object
 6   birth_date     197386 non-null  object
 7   height         206341 non-null  float64
 8   weight         206427 non-null  float64
 9   player_id      206343 non-null  object
 10  years_exp      205466 non-null  float64
 11  week           206429 non-null  int64
 12  game_type      206429 non-null  object
 13  entry_year     205466 non-null  float64
 14  rookie_year    205420 non-null  float64
 15  age            182850 non-null  float64
 16  cleaned_name   206327 non-null  object
 17  unique_id      206327 non-null  object
dtypes: float64(7), int64(2), object(9)
memory usage: 28.3+ MB

In [8]:
display(weekly[weekly.duplicated(keep=False)])

# Duplicates are true dupes, dropping
weekly = weekly.drop_duplicates()

print(f'dupes remaining after drop - {weekly.duplicated().sum()}')

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id
709,2009,NE,RB,21.0,ACT,Fred Taylor,1976-01-27,73.0,228.0,00-0016098,11.0,5,REG,1998.0,1998.0,33.706,Fred Taylor,00-0016098_2009_Fred_Taylor_RB
710,2009,NE,RB,21.0,ACT,Fred Taylor,1976-01-27,73.0,228.0,00-0016098,11.0,6,REG,1998.0,1998.0,33.725,Fred Taylor,00-0016098_2009_Fred_Taylor_RB
711,2009,NE,RB,21.0,ACT,Fred Taylor,1976-01-27,73.0,228.0,00-0016098,11.0,5,REG,1998.0,1998.0,33.706,Fred Taylor,00-0016098_2009_Fred_Taylor_RB
712,2009,NE,RB,21.0,ACT,Fred Taylor,1976-01-27,73.0,228.0,00-0016098,11.0,2,REG,1998.0,1998.0,33.648,Fred Taylor,00-0016098_2009_Fred_Taylor_RB
713,2009,NE,RB,21.0,ACT,Fred Taylor,1976-01-27,73.0,228.0,00-0016098,11.0,10,REG,1998.0,1998.0,33.802,Fred Taylor,00-0016098_2009_Fred_Taylor_RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19752,2011,KC,RB,20.0,ACT,Thomas Jones,1978-08-19,70.0,212.0,00-0019641,11.0,7,REG,2000.0,2000.0,33.177,Thomas Jones,00-0019641_2011_Thomas_Jones_RB
19753,2011,KC,RB,20.0,ACT,Thomas Jones,1978-08-19,70.0,212.0,00-0019641,11.0,15,REG,2000.0,2000.0,33.331,Thomas Jones,00-0019641_2011_Thomas_Jones_RB
19754,2011,KC,RB,20.0,ACT,Thomas Jones,1978-08-19,70.0,212.0,00-0019641,11.0,3,REG,2000.0,2000.0,33.101,Thomas Jones,00-0019641_2011_Thomas_Jones_RB
19755,2011,KC,RB,20.0,ACT,Thomas Jones,1978-08-19,70.0,212.0,00-0019641,11.0,15,REG,2000.0,2000.0,33.331,Thomas Jones,00-0019641_2011_Thomas_Jones_RB
19756,2011,KC,RB,20.0,ACT,Thomas Jones,1978-08-19,70.0,212.0,00-0019641,11.0,7,REG,2000.0,2000.0,33.177,Thomas Jones,00-0019641_2011_Thomas_Jones_RB

dupes remaining after drop - 0

**Look into Nans on bday column**

In [9]:
# Check how many unique IDs are missing birthdays in dataset

print(f'% of unique IDs missing birthday - {weekly[weekly["birth_date"].isna()]["player_id"].nunique() / weekly["player_id"].nunique()}')

print(f'number of unique ids - {weekly["player_id"].nunique()}')

% of unique IDs missing birthday - 0.21669719968594608
number of unique ids - 3821

21% is too much data to drop with only 3800 unique IDs, need to explore further as data is not missing at random

In [10]:
# Make dataframe with just missing bdays

no_bday = weekly[weekly['birth_date'].isna()]

In [11]:
no_bday

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id
50884,2014,NO,TE,84.0,NaN,Tom Crabtree,NaN,76.0,245.0,00-0026878,5.0,6,REG,2009.0,2009.0,NaN,Tom Crabtree,00-0026878_2014_Tom_Crabtree_TE
54089,2014,SEA,WR,88.0,NaN,Phil Bates,NaN,73.0,220.0,00-0029389,2.0,8,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR
54090,2014,SEA,WR,88.0,NaN,Phil Bates,NaN,73.0,220.0,00-0029389,2.0,1,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR
54091,2014,CLV,WR,89.0,NaN,Phil Bates,NaN,73.0,220.0,00-0029389,2.0,17,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR
67942,2016,ATL,K,6.0,CUT,Shayne Graham,NaN,72.0,210.0,00-0019536,NaN,20,CON,NaN,NaN,NaN,Shayne Graham,00-0019536_2016_Shayne_Graham_K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205042,2024,HOU,WR,NaN,CUT,Jaxon Janke,NaN,75.0,210.0,00-0039605,0.0,1,REG,2024.0,2024.0,NaN,Jaxon Janke,00-0039605_2024_Jaxon_Janke_WR
205396,2024,MIN,WR,NaN,CUT,Devron Harper,NaN,69.0,168.0,00-0039708,0.0,1,REG,2024.0,2024.0,NaN,Devron Harper,00-0039708_2024_Devron_Harper_WR
205672,2024,NYJ,WR,NaN,CUT,Hamze El-Zayat,NaN,69.0,177.0,00-0039785,0.0,1,REG,2024.0,2024.0,NaN,Hamze El-Zayat,00-0039785_2024_Hamze_El-Zayat_WR
205673,2024,NYJ,RB,NaN,CUT,Markese Stepp,NaN,73.0,225.0,00-0039786,0.0,1,REG,2024.0,2024.0,NaN,Markese Stepp,00-0039786_2024_Markese_Stepp_RB
206371,2024,CAR,WR,36.0,CUT,Devin Carter,NaN,75.0,216.0,00-0039928,0.0,1,REG,2024.0,2024.0,NaN,Devin Carter,00-0039928_2024_Devin_Carter_WR

**I have a feeling that players that were cut may have data in some weeks. My reasoning is that cut players were actually on the roster at some point and their birthdays should be available.**

I know that Shayne Graham from above played for many years in the league, so I assume his birthday should be available. Looking at his information further in the full roster set to see if his bday is out there

In [12]:
weekly[weekly['cleaned_name'] == 'Shayne Graham']

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id
944,2009,CIN,K,17.0,ACT,Shayne Graham,1977-12-09,72.0,205.0,00-0019536,9.0,4,REG,2000.0,2000.0,31.819,Shayne Graham,00-0019536_2009_Shayne_Graham_K
945,2009,CIN,K,17.0,ACT,Shayne Graham,1977-12-09,72.0,205.0,00-0019536,9.0,6,REG,2000.0,2000.0,31.858,Shayne Graham,00-0019536_2009_Shayne_Graham_K
946,2009,CIN,K,17.0,ACT,Shayne Graham,1977-12-09,72.0,205.0,00-0019536,9.0,1,REG,2000.0,2000.0,31.762,Shayne Graham,00-0019536_2009_Shayne_Graham_K
947,2009,CIN,K,17.0,ACT,Shayne Graham,1977-12-09,72.0,205.0,00-0019536,9.0,18,WC,2000.0,2000.0,32.085,Shayne Graham,00-0019536_2009_Shayne_Graham_K
948,2009,CIN,K,17.0,ACT,Shayne Graham,1977-12-09,72.0,205.0,00-0019536,9.0,13,REG,2000.0,2000.0,31.992,Shayne Graham,00-0019536_2009_Shayne_Graham_K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58073,2015,ATL,K,6.0,ACT,Shayne Graham,1977-12-09,72.0,210.0,00-0019536,15.0,16,REG,2000.0,2000.0,38.048,Shayne Graham,00-0019536_2015_Shayne_Graham_K
67942,2016,ATL,K,6.0,CUT,Shayne Graham,NaN,72.0,210.0,00-0019536,NaN,20,CON,NaN,NaN,NaN,Shayne Graham,00-0019536_2016_Shayne_Graham_K
67943,2016,ATL,K,6.0,CUT,Shayne Graham,NaN,72.0,210.0,00-0019536,NaN,19,DIV,NaN,NaN,NaN,Shayne Graham,00-0019536_2016_Shayne_Graham_K
67944,2016,ATL,K,6.0,ACT,Shayne Graham,NaN,72.0,210.0,00-0019536,16.0,1,REG,2000.0,2000.0,NaN,Shayne Graham,00-0019536_2016_Shayne_Graham_K
67945,2016,ATL,K,6.0,CUT,Shayne Graham,NaN,72.0,210.0,00-0019536,NaN,21,SB,NaN,NaN,NaN,Shayne Graham,00-0019536_2016_Shayne_Graham_K

**Per above, there is only one unique ID attributed to the name Shayne Graham. That means this is the same player. Some of the information is missing for certain weeks and some isn't. I will take the IDs with missing birthdays and fill in their birthdays if there is a row with a birthday that shares that same ID**

In [13]:
# Fill in birthdays in fashion outlined above

weekly['birth_date'] = weekly.groupby('player_id')['birth_date'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else pd.NaT))
print(f'% of unique IDs missing birthday - {weekly[weekly["birth_date"].isna()]["player_id"].nunique() / weekly["player_id"].nunique()}')

% of unique IDs missing birthday - 0.10965715781209108

In [14]:
no_bday = weekly[weekly['birth_date'].isna()]
no_bday.head(50)

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id
54089,2014,SEA,WR,88.0,NaN,Phil Bates,NaT,73.0,220.0,00-0029389,2.0,8,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR
54090,2014,SEA,WR,88.0,NaN,Phil Bates,NaT,73.0,220.0,00-0029389,2.0,1,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR
54091,2014,CLV,WR,89.0,NaN,Phil Bates,NaT,73.0,220.0,00-0029389,2.0,17,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR
69460,2016,CHI,RB,36.0,ACT,Darrel Young,NaT,71.0,251.0,00-0026852,7.0,1,REG,2009.0,2009.0,NaN,Darrel Young,00-0026852_2016_Darrel_Young_RB
70397,2016,DAL,RB,44.0,ACT,Tyler Clutts,NaT,74.0,250.0,00-0027917,8.0,2,REG,2008.0,2011.0,NaN,Tyler Clutts,00-0027917_2016_Tyler_Clutts_RB
70398,2016,DAL,RB,44.0,ACT,Tyler Clutts,NaT,74.0,250.0,00-0027917,8.0,1,REG,2008.0,2011.0,NaN,Tyler Clutts,00-0027917_2016_Tyler_Clutts_RB
71092,2016,DAL,QB,NaN,CUT,Jerrod Johnson,NaT,77.0,250.0,00-0028370,NaN,19,DIV,NaN,NaN,NaN,Jerrod Johnson,00-0028370_2016_Jerrod_Johnson_QB
71195,2016,NYG,WR,18.0,RES,Marcus Harris,NaT,73.0,187.0,00-0028627,NaN,2,REG,NaN,NaN,NaN,Marcus Harris,00-0028627_2016_Marcus_Harris_WR
71196,2016,NYG,WR,18.0,RES,Marcus Harris,NaT,73.0,187.0,00-0028627,NaN,1,REG,NaN,NaN,NaN,Marcus Harris,00-0028627_2016_Marcus_Harris_WR
71326,2016,KC,WR,89.0,CUT,Kashif Moore,NaT,69.0,180.0,00-0028918,NaN,19,DIV,NaN,NaN,NaN,Kashif Moore,00-0028918_2016_Kashif_Moore_WR
71327,2016,KC,WR,89.0,ACT,Kashif Moore,NaT,69.0,180.0,00-0028918,NaN,1,REG,NaN,NaN,NaN,Kashif Moore,00-0028918_2016_Kashif_Moore_WR
72413,2016,MIN,WR,1.0,ACT,Troy Stoudermire,NaT,70.0,195.0,00-0029818,NaN,1,REG,NaN,NaN,NaN,Troy Stoudermire,00-0029818_2016_Troy_Stoudermire_WR
72538,2016,JAX,RB,43.0,ACT,Cameron Marshall,NaT,71.0,215.0,00-0029977,3.0,1,REG,2013.0,2013.0,NaN,Cameron Marshall,00-0029977_2016_Cameron_Marshall_RB
72539,2016,MIN,WR,16.0,ACT,Terrell Sinkfield,NaT,73.0,200.0,00-0029981,3.0,1,REG,2013.0,2013.0,NaN,Terrell Sinkfield,00-0029981_2016_Terrell_Sinkfield_WR
72542,2016,BAL,WR,85.0,ACT,Chuck Jacobs,NaT,72.0,178.0,00-0030034,NaN,1,REG,NaN,NaN,NaN,Chuck Jacobs,00-0030034_2016_Chuck_Jacobs_WR
72928,2016,SEA,WR,17.0,CUT,Uzoma Nwachukwu,NaT,71.0,198.0,00-0030240,3.0,19,DIV,2013.0,2013.0,NaN,Uzoma Nwachukwu,00-0030240_2016_Uzoma_Nwachukwu_WR
72929,2016,SEA,WR,17.0,CUT,Uzoma Nwachukwu,NaT,71.0,198.0,00-0030240,3.0,1,REG,2013.0,2013.0,NaN,Uzoma Nwachukwu,00-0030240_2016_Uzoma_Nwachukwu_WR
72930,2016,SEA,WR,17.0,CUT,Uzoma Nwachukwu,NaT,71.0,198.0,00-0030240,3.0,18,WC,2013.0,2013.0,NaN,Uzoma Nwachukwu,00-0030240_2016_Uzoma_Nwachukwu_WR
73052,2016,SEA,RB,48.0,CUT,Jonathan Amosa,NaT,71.0,247.0,00-0030350,NaN,1,REG,NaN,NaN,NaN,Jonathan Amosa,00-0030350_2016_Jonathan_Amosa_RB
73053,2016,SEA,RB,48.0,CUT,Jonathan Amosa,NaT,71.0,247.0,00-0030350,NaN,18,WC,NaN,NaN,NaN,Jonathan Amosa,00-0030350_2016_Jonathan_Amosa_RB
73054,2016,SEA,RB,48.0,CUT,Jonathan Amosa,NaT,71.0,247.0,00-0030350,NaN,19,DIV,NaN,NaN,NaN,Jonathan Amosa,00-0030350_2016_Jonathan_Amosa_RB
73846,2016,NYG,WR,83.0,ACT,Kadron Boone,NaT,72.0,193.0,00-0030709,NaN,1,REG,NaN,NaN,NaN,Kadron Boone,00-0030709_2016_Kadron_Boone_WR
73847,2016,NYG,WR,83.0,CUT,Kadron Boone,NaT,72.0,193.0,00-0030709,NaN,18,WC,NaN,NaN,NaN,Kadron Boone,00-0030709_2016_Kadron_Boone_WR
74134,2016,SD,WR,83.0,ACT,Torrence Allen,NaT,72.0,183.0,00-0030914,NaN,1,REG,NaN,NaN,NaN,Torrence Allen,00-0030914_2016_Torrence_Allen_WR
74151,2016,OAK,TE,87.0,CUT,Colton Underwood,NaT,75.0,255.0,00-0030926,NaN,18,WC,NaN,NaN,NaN,Colton Underwood,00-0030926_2016_Colton_Underwood_TE
74152,2016,OAK,TE,87.0,ACT,Colton Underwood,NaT,75.0,255.0,00-0030926,NaN,1,REG,NaN,NaN,NaN,Colton Underwood,00-0030926_2016_Colton_Underwood_TE
74153,2016,BUF,WR,13.0,ACT,Kain Colter,NaT,72.0,194.0,00-0030932,NaN,1,REG,NaN,NaN,NaN,Kain Colter,00-0030932_2016_Kain_Colter_WR
74154,2016,TEN,WR,2.0,CUT,Donte Foster,NaT,73.0,199.0,00-0030935,2.0,1,REG,2014.0,2014.0,NaN,Donte Foster,00-0030935_2016_Donte_Foster_WR
74476,2016,NYJ,RB,30.0,ACT,Lache Seastrunk,NaT,70.0,210.0,00-0031078,NaN,1,REG,NaN,NaN,NaN,Lache Seastrunk,00-0031078_2016_Lache_Seastrunk_RB
74840,2016,ATL,TE,48.0,CUT,Arthur Lynch,NaT,77.0,252.0,00-0031286,NaN,20,CON,NaN,NaN,NaN,Arthur Lynch,00-0031286_2016_Arthur_Lynch_TE
74841,2016,ATL,TE,48.0,CUT,Arthur Lynch,NaT,77.0,252.0,00-0031286,NaN,21,SB,NaN,NaN,NaN,Arthur Lynch,00-0031286_2016_Arthur_Lynch_TE
74842,2016,ATL,TE,48.0,ACT,Arthur Lynch,NaT,77.0,252.0,00-0031286,NaN,1,REG,NaN,NaN,NaN,Arthur Lynch,00-0031286_2016_Arthur_Lynch_TE
74843,2016,ATL,TE,48.0,CUT,Arthur Lynch,NaT,77.0,252.0,00-0031286,NaN,19,DIV,NaN,NaN,NaN,Arthur Lynch,00-0031286_2016_Arthur_Lynch_TE
75317,2016,SEA,WR,19.0,CUT,Douglas McNeil,NaT,75.0,210.0,00-0031487,NaN,19,DIV,NaN,NaN,NaN,Douglas McNeil,00-0031487_2016_Douglas_McNeil_WR
75318,2016,SEA,WR,19.0,CUT,Douglas McNeil,NaT,75.0,210.0,00-0031487,NaN,18,WC,NaN,NaN,NaN,Douglas McNeil,00-0031487_2016_Douglas_McNeil_WR
75319,2016,SEA,WR,19.0,ACT,Douglas McNeil,NaT,75.0,210.0,00-0031487,NaN,1,REG,NaN,NaN,NaN,Douglas McNeil,00-0031487_2016_Douglas_McNeil_WR
75352,2016,PIT,WR,16.0,CUT,Issac Blakeney,NaT,78.0,225.0,00-0031505,NaN,18,WC,NaN,NaN,NaN,Issac Blakeney,00-0031505_2016_Issac_Blakeney_WR
75353,2016,PIT,WR,16.0,CUT,Issac Blakeney,NaT,78.0,225.0,00-0031505,NaN,19,DIV,NaN,NaN,NaN,Issac Blakeney,00-0031505_2016_Issac_Blakeney_WR
75354,2016,PIT,WR,16.0,CUT,Issac Blakeney,NaT,78.0,225.0,00-0031505,NaN,20,CON,NaN,NaN,NaN,Issac Blakeney,00-0031505_2016_Issac_Blakeney_WR
75374,2016,NO,WR,11.0,ACT,Reggie Bell,NaT,71.0,201.0,00-0031529,NaN,1,REG,NaN,NaN,NaN,Reggie Bell,00-0031529_2016_Reggie_Bell_WR
75738,2016,TB,WR,14.0,ACT,Andre Davis,NaT,73.0,211.0,00-0031635,NaN,1,REG,NaN,NaN,NaN,Andre Davis,00-0031635_2016_Andre_Davis_WR
75740,2016,GB,TE,49.0,CUT,Casey Pierce,NaT,75.0,248.0,00-0031660,NaN,19,DIV,NaN,NaN,NaN,Casey Pierce,00-0031660_2016_Casey_Pierce_TE
75741,2016,GB,TE,49.0,CUT,Casey Pierce,NaT,75.0,248.0,00-0031660,NaN,20,CON,NaN,NaN,NaN,Casey Pierce,00-0031660_2016_Casey_Pierce_TE
75742,2016,GB,TE,49.0,CUT,Casey Pierce,NaT,75.0,248.0,00-0031660,NaN,18,WC,NaN,NaN,NaN,Casey Pierce,00-0031660_2016_Casey_Pierce_TE
75743,2016,GB,TE,49.0,CUT,Casey Pierce,NaT,75.0,248.0,00-0031660,NaN,1,REG,NaN,NaN,NaN,Casey Pierce,00-0031660_2016_Casey_Pierce_TE
75761,2016,IND,WR,14.0,ACT,Joshua Stangby,NaT,70.0,185.0,00-0031679,1.0,1,REG,2015.0,2015.0,NaN,Joshua Stangby,00-0031679_2016_Joshua_Stangby_WR
75824,2016,ARI,WR,16.0,ACT,Jaxon Shipley,NaT,72.0,190.0,00-0031710,NaN,1,REG,NaN,NaN,NaN,Jaxon Shipley,00-0031710_2016_Jaxon_Shipley_WR
75843,2016,CIN,RB,44.0,ACT,Jeff Luc,NaT,73.0,256.0,00-0031723,NaN,1,REG,NaN,NaN,NaN,Jeff Luc,00-0031723_2016_Jeff_Luc_RB
75961,2016,NYG,K,5.0,CUT,Tom Obarski,NaT,70.0,177.0,00-0031789,NaN,18,WC,NaN,NaN,NaN,Tom Obarski,00-0031789_2016_Tom_Obarski_K
75977,2016,MIN,RB,49.0,DEV,Blake Renaud,NaT,73.0,252.0,00-0031803,1.0,1,REG,2015.0,2015.0,NaN,Blake Renaud,00-0031803_2016_Blake_Renaud_RB

In [15]:
no_bday['status'].value_counts()

CUT    3702
DEV      74
ACT      72
RES      46
RSN      19
RET      17
NWT       1
INA       1
Name: status, dtype: int64

** See if I can get the birthdays from the seasonal dataset. Will handle after merge**

Moving on to cleaning datatypes and condensing by seasonal data

In [16]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206303 entries, 0 to 206428
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         206303 non-null  int64
 1   team           206303 non-null  object
 2   position       206303 non-null  object
 3   jersey_number  206005 non-null  float64
 4   status         206299 non-null  object
 5   player_name    206303 non-null  object
 6   birth_date     202368 non-null  object
 7   height         206215 non-null  float64
 8   weight         206301 non-null  float64
 9   player_id      206217 non-null  object
 10  years_exp      205340 non-null  float64
 11  week           206303 non-null  int64
 12  game_type      206303 non-null  object
 13  entry_year     205340 non-null  float64
 14  rookie_year    205294 non-null  float64
 15  age            182732 non-null  float64
 16  cleaned_name   206201 non-null  object
 17  unique_id      206201 non-null  object
dtypes: float64(7), int64(2), object(9)
memory usage: 29.9+ MB

In [17]:
weekly['active_games'] = weekly.groupby('unique_id')['status'].transform(lambda x: (x == 'ACT').sum())

In [18]:
# Check  that all weeks are present

weekly['week'].value_counts().sort_index()

1     12703
2     11633
3     11616
4     11466
5     11101
6     10878
7     10818
8     10990
9     10589
10    10720
11    10761
12    11437
13    11434
14    11408
15    11907
16    11966
17    12025
18     6197
19     3453
20     1982
21      995
22      224
Name: week, dtype: int64

In [19]:
weekly = weekly.sort_values(by = 'player_id')
weekly.head(50)

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id,active_games
0,2009,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,12.0,7,REG,1997.0,1997.0,34.880,David Akers,00-0000108_2009_David_Akers_K,18.0
28789,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,21,SB,1997.0,1997.0,38.155,David Akers,00-0000108_2012_David_Akers_K,21.0
28788,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,6,REG,1997.0,1997.0,37.848,David Akers,00-0000108_2012_David_Akers_K,21.0
28787,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,14,REG,1997.0,1997.0,38.001,David Akers,00-0000108_2012_David_Akers_K,21.0
28786,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,5,REG,1997.0,1997.0,37.829,David Akers,00-0000108_2012_David_Akers_K,21.0
28785,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,20,CON,1997.0,1997.0,38.116,David Akers,00-0000108_2012_David_Akers_K,21.0
28784,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,7,REG,1997.0,1997.0,37.859,David Akers,00-0000108_2012_David_Akers_K,21.0
28783,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,15,REG,1997.0,1997.0,38.021,David Akers,00-0000108_2012_David_Akers_K,21.0
28782,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,4,REG,1997.0,1997.0,37.810,David Akers,00-0000108_2012_David_Akers_K,21.0
28781,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,10,REG,1997.0,1997.0,37.925,David Akers,00-0000108_2012_David_Akers_K,21.0
28780,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,13,REG,1997.0,1997.0,37.982,David Akers,00-0000108_2012_David_Akers_K,21.0
28779,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,3,REG,1997.0,1997.0,37.791,David Akers,00-0000108_2012_David_Akers_K,21.0
28778,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,2,REG,1997.0,1997.0,37.771,David Akers,00-0000108_2012_David_Akers_K,21.0
28777,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,9,REG,1997.0,1997.0,NaN,David Akers,00-0000108_2012_David_Akers_K,21.0
28776,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,11,REG,1997.0,1997.0,37.947,David Akers,00-0000108_2012_David_Akers_K,21.0
28775,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,1,REG,1997.0,1997.0,37.752,David Akers,00-0000108_2012_David_Akers_K,21.0
28790,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,19,DIV,1997.0,1997.0,38.094,David Akers,00-0000108_2012_David_Akers_K,21.0
28774,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,8,REG,1997.0,1997.0,37.889,David Akers,00-0000108_2012_David_Akers_K,21.0
28791,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,18,WC,1997.0,1997.0,NaN,David Akers,00-0000108_2012_David_Akers_K,21.0
9641,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,9,REG,1997.0,1997.0,35.912,David Akers,00-0000108_2010_David_Akers_K,18.0
38482,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,17,REG,1997.0,1997.0,39.055,David Akers,00-0000108_2013_David_Akers_K,17.0
38481,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,10,REG,1997.0,1997.0,38.921,David Akers,00-0000108_2013_David_Akers_K,17.0
38480,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,9,REG,1997.0,1997.0,NaN,David Akers,00-0000108_2013_David_Akers_K,17.0
38479,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,15,REG,1997.0,1997.0,39.020,David Akers,00-0000108_2013_David_Akers_K,17.0
38478,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,12,REG,1997.0,1997.0,38.960,David Akers,00-0000108_2013_David_Akers_K,17.0
38477,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,16,REG,1997.0,1997.0,39.036,David Akers,00-0000108_2013_David_Akers_K,17.0
38476,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,4,REG,1997.0,1997.0,38.806,David Akers,00-0000108_2013_David_Akers_K,17.0
38475,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,11,REG,1997.0,1997.0,38.940,David Akers,00-0000108_2013_David_Akers_K,17.0
38474,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,2,REG,1997.0,1997.0,38.768,David Akers,00-0000108_2013_David_Akers_K,17.0
38473,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,5,REG,1997.0,1997.0,38.825,David Akers,00-0000108_2013_David_Akers_K,17.0
38472,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,1,REG,1997.0,1997.0,38.749,David Akers,00-0000108_2013_David_Akers_K,17.0
38471,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,8,REG,1997.0,1997.0,38.883,David Akers,00-0000108_2013_David_Akers_K,17.0
38470,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,13,REG,1997.0,1997.0,38.971,David Akers,00-0000108_2013_David_Akers_K,17.0
38469,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,7,REG,1997.0,1997.0,38.864,David Akers,00-0000108_2013_David_Akers_K,17.0
38468,2013,DET,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,3,REG,1997.0,1997.0,38.787,David Akers,00-0000108_2013_David_Akers_K,17.0
28792,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,17,REG,1997.0,1997.0,38.059,David Akers,00-0000108_2012_David_Akers_K,21.0
28773,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,16,REG,1997.0,1997.0,38.040,David Akers,00-0000108_2012_David_Akers_K,21.0
28772,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,12,REG,1997.0,1997.0,37.963,David Akers,00-0000108_2012_David_Akers_K,21.0
19272,2011,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,14.0,20,CON,1997.0,1997.0,37.120,David Akers,00-0000108_2011_David_Akers_K,20.0
9656,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,4,REG,1997.0,1997.0,35.817,David Akers,00-0000108_2010_David_Akers_K,18.0
9655,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,5,REG,1997.0,1997.0,35.836,David Akers,00-0000108_2010_David_Akers_K,18.0
9654,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,18,WC,1997.0,1997.0,36.085,David Akers,00-0000108_2010_David_Akers_K,18.0
9653,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,7,REG,1997.0,1997.0,35.874,David Akers,00-0000108_2010_David_Akers_K,18.0
9652,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,10,REG,1997.0,1997.0,35.934,David Akers,00-0000108_2010_David_Akers_K,18.0
9651,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,6,REG,1997.0,1997.0,35.855,David Akers,00-0000108_2010_David_Akers_K,18.0
9650,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,12,REG,1997.0,1997.0,35.970,David Akers,00-0000108_2010_David_Akers_K,18.0
9649,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,2,REG,1997.0,1997.0,35.778,David Akers,00-0000108_2010_David_Akers_K,18.0
9648,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,3,REG,1997.0,1997.0,35.797,David Akers,00-0000108_2010_David_Akers_K,18.0
9647,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,8,REG,1997.0,1997.0,NaN,David Akers,00-0000108_2010_David_Akers_K,18.0
9646,2010,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,15,REG,1997.0,1997.0,36.027,David Akers,00-0000108_2010_David_Akers_K,18.0

In [20]:
weekly['active_games'].value_counts().sort_index()

0.0     39740
1.0      5262
2.0      4048
3.0      3696
4.0      3116
5.0      3456
6.0      3263
7.0      3251
8.0      3827
9.0      3388
10.0     3401
11.0     4275
12.0     4133
13.0     4744
14.0     5483
15.0     6272
16.0    22508
17.0    44157
18.0    15233
19.0    12502
20.0     5910
21.0     4536
Name: active_games, dtype: int64

**Large amount of data with no active games for entire season, see what the game statuses are here**

In [21]:
weekly[weekly['active_games'] == 0]['status'].value_counts()

CUT    13710
RES    11786
DEV    11572
RET      504
INA      504
NWT      328
TRC      292
RSN      263
TRD      239
PUP      185
SUS      180
TRT       52
UFA       49
RSR       36
E14       19
EXE       15
E01        2
Name: status, dtype: int64

**There seems to be enough of a spread that this will be relevant if players had active games in past years, will continue with no changes**

Will move on to making columns with games missed for season

In [22]:
weekly['max_week'] = (weekly.groupby(['team', 'season'])['week'].transform('max'))

weekly['missed_games'] = weekly['max_week'] - weekly['active_games']
weekly.head()

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id,active_games,max_week,missed_games
0,2009,PHI,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,12.0,7,REG,1997.0,1997.0,34.880,David Akers,00-0000108_2009_David_Akers_K,18.0,18,0.0
28789,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,21,SB,1997.0,1997.0,38.155,David Akers,00-0000108_2012_David_Akers_K,21.0,21,0.0
28788,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,6,REG,1997.0,1997.0,37.848,David Akers,00-0000108_2012_David_Akers_K,21.0,21,0.0
28787,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,14,REG,1997.0,1997.0,38.001,David Akers,00-0000108_2012_David_Akers_K,21.0,21,0.0
28786,2012,SF,K,2.0,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,5,REG,1997.0,1997.0,37.829,David Akers,00-0000108_2012_David_Akers_K,21.0,21,0.0

In [23]:
weekly['missed_games'].corr(weekly['max_week'])

0.10778948915045217

In [24]:
weekly['missed_games'].value_counts().sort_index()

-4.0        16
-3.0        48
-2.0        43
-1.0       138
 0.0     52062
 1.0     37270
 2.0     13130
 3.0      7108
 4.0      5667
 5.0      4949
 6.0      4513
 7.0      3863
 8.0      3502
 9.0      3608
 10.0     4200
 11.0     2914
 12.0     3545
 13.0     2929
 14.0     3008
 15.0     3700
 16.0     4237
 17.0    20473
 18.0    10857
 19.0     6665
 20.0     4185
 21.0     2866
 22.0      705
Name: missed_games, dtype: int64

In [25]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206303 entries, 0 to 176807
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         206303 non-null  int64
 1   team           206303 non-null  object
 2   position       206303 non-null  object
 3   jersey_number  206005 non-null  float64
 4   status         206299 non-null  object
 5   player_name    206303 non-null  object
 6   birth_date     202368 non-null  object
 7   height         206215 non-null  float64
 8   weight         206301 non-null  float64
 9   player_id      206217 non-null  object
 10  years_exp      205340 non-null  float64
 11  week           206303 non-null  int64
 12  game_type      206303 non-null  object
 13  entry_year     205340 non-null  float64
 14  rookie_year    205294 non-null  float64
 15  age            182732 non-null  float64
 16  cleaned_name   206201 non-null  object
 17  unique_id      206201 non-null  object
 18  active_games   206201 non-null  float64
 19  max_week       206303 non-null  int64
 20  missed_games   206201 non-null  float64
dtypes: float64(9), int64(3), object(9)
memory usage: 34.6+ MB

In [26]:
weekly[weekly['status'].isna()]

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id,active_games,max_week,missed_games
50884,2014,NO,TE,84.0,NaN,Tom Crabtree,1985-11-04,76.0,245.0,00-0026878,5.0,6,REG,2009.0,2009.0,NaN,Tom Crabtree,00-0026878_2014_Tom_Crabtree_TE,0.0,17,17.0
54089,2014,SEA,WR,88.0,NaN,Phil Bates,NaT,73.0,220.0,00-0029389,2.0,8,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR,0.0,21,21.0
54090,2014,SEA,WR,88.0,NaN,Phil Bates,NaT,73.0,220.0,00-0029389,2.0,1,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR,0.0,21,21.0
54091,2014,CLV,WR,89.0,NaN,Phil Bates,NaT,73.0,220.0,00-0029389,2.0,17,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR,0.0,17,17.0

In [27]:
weekly.loc[(weekly['week'] == 17) & (weekly['unique_id'] == '00-0029389_2014_Phil_Bates_WR'), 'status'] = 'ACT'

In [28]:
weekly[weekly['status'].isna()]

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id,active_games,max_week,missed_games
50884,2014,NO,TE,84.0,NaN,Tom Crabtree,1985-11-04,76.0,245.0,00-0026878,5.0,6,REG,2009.0,2009.0,NaN,Tom Crabtree,00-0026878_2014_Tom_Crabtree_TE,0.0,17,17.0
54089,2014,SEA,WR,88.0,NaN,Phil Bates,NaT,73.0,220.0,00-0029389,2.0,8,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR,0.0,21,21.0
54090,2014,SEA,WR,88.0,NaN,Phil Bates,NaT,73.0,220.0,00-0029389,2.0,1,REG,2012.0,2012.0,NaN,Phil Bates,00-0029389_2014_Phil_Bates_WR,0.0,21,21.0

In [29]:
weekly.loc[((weekly['week'] == 1) | (weekly['week'] == 8)) & (weekly['unique_id'] == '00-0029389_2014_Phil_Bates_WR'), 'status'] = 'DEV'

In [30]:
weekly[weekly['status'].isna()]

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id,active_games,max_week,missed_games
50884,2014,NO,TE,84.0,NaN,Tom Crabtree,1985-11-04,76.0,245.0,00-0026878,5.0,6,REG,2009.0,2009.0,NaN,Tom Crabtree,00-0026878_2014_Tom_Crabtree_TE,0.0,17,17.0

In [31]:
weekly.loc[(weekly['week'] == 6) & (weekly['unique_id'] == '00-0026878_2014_Tom_Crabtree_TE'), 'status'] = 'DEV'

In [32]:
weekly[weekly['status'].isna()]

Empty DataFrame
Columns: [season, team, position, jersey_number, status, player_name, birth_date, height, weight, player_id, years_exp, week, game_type, entry_year, rookie_year, age, cleaned_name, unique_id, active_games, max_week, missed_games]
Index: []

In [33]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206303 entries, 0 to 176807
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         206303 non-null  int64
 1   team           206303 non-null  object
 2   position       206303 non-null  object
 3   jersey_number  206005 non-null  float64
 4   status         206303 non-null  object
 5   player_name    206303 non-null  object
 6   birth_date     202368 non-null  object
 7   height         206215 non-null  float64
 8   weight         206301 non-null  float64
 9   player_id      206217 non-null  object
 10  years_exp      205340 non-null  float64
 11  week           206303 non-null  int64
 12  game_type      206303 non-null  object
 13  entry_year     205340 non-null  float64
 14  rookie_year    205294 non-null  float64
 15  age            182732 non-null  float64
 16  cleaned_name   206201 non-null  object
 17  unique_id      206201 non-null  object
 18  active_games   206201 non-null  float64
 19  max_week       206303 non-null  int64
 20  missed_games   206201 non-null  float64
dtypes: float64(9), int64(3), object(9)
memory usage: 34.6+ MB

In [34]:
weekly[(weekly['player_id'].isna()) & (weekly['status'] == 'RES')]

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id,active_games,max_week,missed_games
176786,2022,JAX,QB,NaN,RES,Nathan Rourke,NaN,NaN,210.0,NaN,2.0,20,DIV,2020.0,NaN,NaN,NaN,NaN,NaN,20,NaN

In [35]:
weekly[weekly['player_id'].isna()]['status'].value_counts()

DEV    54
RSN    19
CUT    12
RES     1
Name: status, dtype: int64

**Missing IDs are pnly players who were practice squad or never played an NFL snap, will drop**

In [36]:
weekly = weekly.dropna(subset=['player_id'])

In [37]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206217 entries, 0 to 206428
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         206217 non-null  int64
 1   team           206217 non-null  object
 2   position       206217 non-null  object
 3   jersey_number  205986 non-null  float64
 4   status         206217 non-null  object
 5   player_name    206217 non-null  object
 6   birth_date     202368 non-null  object
 7   height         206215 non-null  float64
 8   weight         206215 non-null  float64
 9   player_id      206217 non-null  object
 10  years_exp      205290 non-null  float64
 11  week           206217 non-null  int64
 12  game_type      206217 non-null  object
 13  entry_year     205290 non-null  float64
 14  rookie_year    205265 non-null  float64
 15  age            182732 non-null  float64
 16  cleaned_name   206201 non-null  object
 17  unique_id      206201 non-null  object
 18  active_games   206201 non-null  float64
 19  max_week       206217 non-null  int64
 20  missed_games   206201 non-null  float64
dtypes: float64(9), int64(3), object(9)
memory usage: 34.6+ MB

In [38]:
weekly.loc[(weekly['unique_id'].isna()), 'cleaned_name'] = weekly['player_name']

In [39]:
weekly[weekly['unique_id'].isna()]

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id,active_games,max_week,missed_games
102798,2018,MIN,K,6.0,ACT,Matt Wile,1992-06-20,74.0,219.0,00-0031876,3.0,5,REG,2015.0,2015.0,26.297,Matt Wile,NaN,NaN,17,NaN
102797,2018,MIN,K,6.0,ACT,Matt Wile,1992-06-20,74.0,219.0,00-0031876,3.0,4,REG,2015.0,2015.0,26.270,Matt Wile,NaN,NaN,17,NaN
102801,2018,MIN,K,6.0,ACT,Matt Wile,1992-06-20,74.0,219.0,00-0031876,3.0,3,REG,2015.0,2015.0,26.259,Matt Wile,NaN,NaN,17,NaN
102799,2018,MIN,K,6.0,ACT,Matt Wile,1992-06-20,74.0,219.0,00-0031876,3.0,1,REG,2015.0,2015.0,26.220,Matt Wile,NaN,NaN,17,NaN
76103,2016,DAL,K,2.0,ACT,Matt Wile,1992-06-20,74.0,215.0,00-0031876,1.0,1,REG,2015.0,2015.0,24.227,Matt Wile,NaN,NaN,19,NaN
102800,2018,MIN,K,6.0,ACT,Matt Wile,1992-06-20,74.0,219.0,00-0031876,3.0,2,REG,2015.0,2015.0,26.240,Matt Wile,NaN,NaN,17,NaN
77596,2016,SEA,TE,74.0,ACT,George Fant,1992-07-19,77.0,270.0,00-0032466,0.0,1,REG,2016.0,2016.0,24.148,George Fant,NaN,NaN,19,NaN
124377,2019,MIN,TE,79.0,CUT,Nate Wozniak,1994-08-30,82.0,302.0,00-0034128,1.0,2,REG,2018.0,2018.0,25.043,Nate Wozniak,NaN,NaN,19,NaN
124374,2019,MIN,TE,79.0,CUT,Nate Wozniak,1994-08-30,82.0,302.0,00-0034128,1.0,1,REG,2018.0,2018.0,25.024,Nate Wozniak,NaN,NaN,19,NaN
124376,2019,ATL,TE,79.0,DEV,Nate Wozniak,1994-08-30,82.0,280.0,00-0034128,1.0,3,REG,2018.0,2018.0,25.062,Nate Wozniak,NaN,NaN,17,NaN
124375,2019,ATL,TE,79.0,CUT,Nate Wozniak,1994-08-30,82.0,280.0,00-0034128,1.0,4,REG,2018.0,2018.0,25.081,Nate Wozniak,NaN,NaN,17,NaN
143692,2020,JAX,K,1.0,CUT,Brandon Wright,1997-02-08,70.0,182.0,00-0035833,0.0,6,REG,2020.0,2020.0,23.691,Brandon Wright,NaN,NaN,17,NaN
143691,2020,JAX,K,1.0,ACT,Brandon Wright,1997-02-08,70.0,182.0,00-0035833,0.0,3,REG,2020.0,2020.0,23.625,Brandon Wright,NaN,NaN,17,NaN
143690,2020,JAX,K,1.0,CUT,Brandon Wright,1997-02-08,70.0,182.0,00-0035833,0.0,5,REG,2020.0,2020.0,23.671,Brandon Wright,NaN,NaN,17,NaN
143688,2020,JAX,K,1.0,CUT,Brandon Wright,1997-02-08,70.0,182.0,00-0035833,0.0,4,REG,2020.0,2020.0,23.652,Brandon Wright,NaN,NaN,17,NaN
143689,2020,JAX,K,1.0,CUT,Brandon Wright,1997-02-08,70.0,182.0,00-0035833,0.0,7,REG,2020.0,2020.0,23.710,Brandon Wright,NaN,NaN,17,NaN

In [40]:
weekly.loc[(weekly['unique_id'].isna()), 'unique_id'] = weekly['player_id'] + '_' + weekly['season'].astype(str) + '_' + weekly['cleaned_name'] + '_' + weekly['position']

In [41]:
weekly[weekly['unique_id'].isna()]

Empty DataFrame
Columns: [season, team, position, jersey_number, status, player_name, birth_date, height, weight, player_id, years_exp, week, game_type, entry_year, rookie_year, age, cleaned_name, unique_id, active_games, max_week, missed_games]
Index: []

In [42]:
weekly['active_games'] = weekly.groupby('unique_id')['status'].transform(lambda x: (x == 'ACT').sum())

In [43]:
weekly['max_week'] = (weekly.groupby(['team', 'season'])['week'].transform('max'))

weekly['missed_games'] = weekly['max_week'] - weekly['active_games']

In [44]:
weekly[weekly['active_games'].isna()]

Empty DataFrame
Columns: [season, team, position, jersey_number, status, player_name, birth_date, height, weight, player_id, years_exp, week, game_type, entry_year, rookie_year, age, cleaned_name, unique_id, active_games, max_week, missed_games]
Index: []

In [45]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206217 entries, 0 to 206428
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         206217 non-null  int64
 1   team           206217 non-null  object
 2   position       206217 non-null  object
 3   jersey_number  205986 non-null  float64
 4   status         206217 non-null  object
 5   player_name    206217 non-null  object
 6   birth_date     202368 non-null  object
 7   height         206215 non-null  float64
 8   weight         206215 non-null  float64
 9   player_id      206217 non-null  object
 10  years_exp      205290 non-null  float64
 11  week           206217 non-null  int64
 12  game_type      206217 non-null  object
 13  entry_year     205290 non-null  float64
 14  rookie_year    205265 non-null  float64
 15  age            182732 non-null  float64
 16  cleaned_name   206217 non-null  object
 17  unique_id      206217 non-null  object
 18  active_games   206217 non-null  int64
 19  max_week       206217 non-null  int64
 20  missed_games   206217 non-null  int64
dtypes: float64(7), int64(5), object(9)
memory usage: 42.7+ MB

In [46]:
seasonal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13934 entries, 0 to 13933
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   13934 non-null  int64
 1   team                     13934 non-null  object
 2   position                 13934 non-null  object
 3   depth_chart_position     9315 non-null   object
 4   jersey_number            13852 non-null  float64
 5   status                   13931 non-null  object
 6   player_name              13934 non-null  object
 7   first_name               13934 non-null  object
 8   last_name                13934 non-null  object
 9   birth_date               13042 non-null  object
 10  height                   13932 non-null  float64
 11  weight                   13932 non-null  float64
 12  college                  11573 non-null  object
 13  player_id                13934 non-null  object
 14  espn_id                  10576 non-null  float64
 15  sportradar_id            10935 non-null  object
 16  yahoo_id                 9956 non-null   float64
 17  rotowire_id              10973 non-null  float64
 18  pff_id                   9838 non-null   float64
 19  pfr_id                   8104 non-null   object
 20  fantasy_data_id          9183 non-null   float64
 21  sleeper_id               10451 non-null  float64
 22  years_exp                13761 non-null  float64
 23  headshot_url             13428 non-null  object
 24  ngs_position             3447 non-null   object
 25  week                     13934 non-null  int64
 26  game_type                13934 non-null  object
 27  status_description_abbr  11785 non-null  object
 28  football_name            13932 non-null  object
 29  esb_id                   13903 non-null  object
 30  gsis_it_id               11662 non-null  float64
 31  smart_id                 13890 non-null  object
 32  entry_year               13761 non-null  float64
 33  rookie_year              13756 non-null  float64
 34  draft_club               8024 non-null   object
 35  draft_number             7270 non-null   float64
 36  age                      13042 non-null  float64
 37  cleaned_name             13934 non-null  object
 38  year_name_team           13934 non-null  object
 39  unique_id                13934 non-null  object
dtypes: float64(15), int64(2), object(23)
memory usage: 4.3+ MB

In [47]:
seasonal['birth_date'] = seasonal.groupby('player_id')['birth_date'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else pd.NaT))
print(f'% of unique IDs missing birthday - {seasonal[seasonal["birth_date"].isna()]["player_id"].nunique() / seasonal["player_id"].nunique()}')

% of unique IDs missing birthday - 0.10977207230809537

In [48]:
missing_bdays_active = seasonal[(seasonal["birth_date"].isna()) & (seasonal['status'] == 'ACT')]

In [49]:
overlap = missing_bdays_active['player_id'].isin(stats['player_id'])

In [50]:
overlap.value_counts()

False    51
True      2
Name: player_id, dtype: int64

**Only two players with missing birthdays had any game action, will drop these players**

In [51]:
weekly = weekly.dropna(subset='birth_date')

In [52]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202368 entries, 0 to 206428
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         202368 non-null  int64
 1   team           202368 non-null  object
 2   position       202368 non-null  object
 3   jersey_number  202183 non-null  float64
 4   status         202368 non-null  object
 5   player_name    202368 non-null  object
 6   birth_date     202368 non-null  object
 7   height         202368 non-null  float64
 8   weight         202368 non-null  float64
 9   player_id      202368 non-null  object
 10  years_exp      201569 non-null  float64
 11  week           202368 non-null  int64
 12  game_type      202368 non-null  object
 13  entry_year     201569 non-null  float64
 14  rookie_year    201562 non-null  float64
 15  age            182732 non-null  float64
 16  cleaned_name   202368 non-null  object
 17  unique_id      202368 non-null  object
 18  active_games   202368 non-null  int64
 19  max_week       202368 non-null  int64
 20  missed_games   202368 non-null  int64
dtypes: float64(7), int64(5), object(9)
memory usage: 34.0+ MB

In [53]:
weekly['entry_year'] = weekly.groupby('player_id')['entry_year'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else pd.NaT))

In [54]:
weekly['entry_year'].isna().sum()
print(f'% of unique IDs missing entry year - {weekly[weekly["entry_year"].isna()]["player_id"].nunique() / weekly["player_id"].nunique()}')

% of unique IDs missing entry year - 0.00823045267489712

In [55]:
missing_rookie = weekly[(weekly["entry_year"].isna()) & (weekly["status"] == 'ACT')]
missing_rookie['player_id'].nunique()

10

**10 players missing rookie year info were active, will manually add their rookie year**

In [56]:
missing_rookie_dates = missing_rookie[['cleaned_name', 'player_id', 'position', 'team']]

In [57]:
missing_rookie_dates = missing_rookie_dates.drop_duplicates()

In [58]:
missing_rookie_dates['rookie_year'] = np.nan

In [59]:
missing_rookie_dates

           cleaned_name   player_id position team  rookie_year
69451    Dobson Collins  00-0026764       WR  BAL          NaN
73808   Stephen Houston  00-0030685       RB  BAL          NaN
74349        Shaq Evans  00-0031056       WR  JAX          NaN
76484        Jake Heaps  00-0032073       QB  SEA          NaN
77641        Chris King  00-0032500       WR  NYJ          NaN
77727           Jay Lee  00-0032559       WR  DET          NaN
78019  Quenton Bundrage  00-0032691       WR  HOU          NaN
78388        Zac Brooks  00-0032808       RB  SEA          NaN
78628   Kolby Listenbee  00-0032957       WR  BUF          NaN
78756       Chris Swain  00-0033004       RB   SD          NaN

In [60]:
weekly.loc[weekly['player_id'] == '00-0026764', 'entry_year'] = 2009
weekly.loc[weekly['player_id'] == '00-0030685', 'entry_year'] = 2014
weekly.loc[weekly['player_id'] == '00-0031056', 'entry_year'] = 2014
weekly.loc[weekly['player_id'] == '00-0032073', 'entry_year'] = 2015
weekly.loc[weekly['player_id'] == '00-0032500', 'entry_year'] = 2016
weekly.loc[weekly['player_id'] == '00-0032559', 'entry_year'] = 2016
weekly.loc[weekly['player_id'] == '00-0032691', 'entry_year'] = 2016
weekly.loc[weekly['player_id'] == '00-0032808', 'entry_year'] = 2016
weekly.loc[weekly['player_id'] == '00-0032957', 'entry_year'] = 2016
weekly.loc[weekly['player_id'] == '00-0033004', 'entry_year'] = 2016

In [61]:
weekly[weekly['player_name'] == 'Kolby Listenbee']

,season,team,position,jersey_number,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,rookie_year,age,cleaned_name,unique_id,active_games,max_week,missed_games
91193,2017,IND,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,16,REG,2016,NaN,23.910,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91192,2017,MIA,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,7,REG,2016,NaN,23.740,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91191,2017,MIA,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,11,REG,2016,NaN,23.817,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91190,2017,IND,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,15,REG,2016,NaN,23.885,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91189,2017,MIA,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,10,REG,2016,NaN,23.800,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91186,2017,IND,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,17,REG,2016,NaN,23.932,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91187,2017,MIA,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,9,REG,2016,NaN,23.778,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91185,2017,MIA,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,5,REG,2016,NaN,23.702,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91184,2017,MIA,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,12,REG,2016,NaN,23.836,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91183,2017,MIA,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,13,REG,2016,NaN,23.855,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91182,2017,MIA,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,6,REG,2016,NaN,23.721,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91188,2017,MIA,WR,NaN,DEV,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,8,REG,2016,NaN,23.751,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
91181,2017,MIA,WR,NaN,CUT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,14,REG,2016,NaN,23.877,Kolby Listenbee,00-0032957_2017_Kolby_Listenbee_WR,0,17,17
78628,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,9,REG,2016,NaN,22.784,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78626,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,17,REG,2016,NaN,22.935,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78634,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,6,REG,2016,NaN,22.724,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78633,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,12,REG,2016,NaN,22.839,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78632,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,16,REG,2016,NaN,22.913,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78631,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,14,REG,2016,NaN,22.877,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78630,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,8,REG,2016,NaN,22.762,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78622,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,15,REG,2016,NaN,22.897,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78623,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,1,REG,2016,NaN,22.628,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78624,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,11,REG,2016,NaN,22.820,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78625,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,2,REG,2016,NaN,22.639,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78629,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,7,REG,2016,NaN,22.743,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4
78627,2016,BUF,WR,18.0,ACT,Kolby Listenbee,1994-01-25,73.0,183.0,00-0032957,NaN,13,REG,2016,NaN,22.858,Kolby Listenbee,00-0032957_2016_Kolby_Listenbee_WR,13,17,4

In [62]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202368 entries, 0 to 206428
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         202368 non-null  int64
 1   team           202368 non-null  object
 2   position       202368 non-null  object
 3   jersey_number  202183 non-null  float64
 4   status         202368 non-null  object
 5   player_name    202368 non-null  object
 6   birth_date     202368 non-null  object
 7   height         202368 non-null  float64
 8   weight         202368 non-null  float64
 9   player_id      202368 non-null  object
 10  years_exp      201569 non-null  float64
 11  week           202368 non-null  int64
 12  game_type      202368 non-null  object
 13  entry_year     202157 non-null  object
 14  rookie_year    201562 non-null  float64
 15  age            182732 non-null  float64
 16  cleaned_name   202368 non-null  object
 17  unique_id      202368 non-null  object
 18  active_games   202368 non-null  int64
 19  max_week       202368 non-null  int64
 20  missed_games   202368 non-null  int64
dtypes: float64(6), int64(5), object(10)
memory usage: 34.0+ MB

In [63]:
weekly[weekly['entry_year'].isna()]['status'].value_counts()

RES    206
CUT      3
DEV      2
Name: status, dtype: int64

**Remaining players with missing rookie years had no NFL action, will drop**

In [64]:
weekly = weekly.dropna(subset='entry_year')

In [65]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202157 entries, 0 to 206428
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         202157 non-null  int64
 1   team           202157 non-null  object
 2   position       202157 non-null  object
 3   jersey_number  201974 non-null  float64
 4   status         202157 non-null  object
 5   player_name    202157 non-null  object
 6   birth_date     202157 non-null  object
 7   height         202157 non-null  float64
 8   weight         202157 non-null  float64
 9   player_id      202157 non-null  object
 10  years_exp      201569 non-null  float64
 11  week           202157 non-null  int64
 12  game_type      202157 non-null  object
 13  entry_year     202157 non-null  object
 14  rookie_year    201562 non-null  float64
 15  age            182521 non-null  float64
 16  cleaned_name   202157 non-null  object
 17  unique_id      202157 non-null  object
 18  active_games   202157 non-null  int64
 19  max_week       202157 non-null  int64
 20  missed_games   202157 non-null  int64
dtypes: float64(6), int64(5), object(10)
memory usage: 33.9+ MB

In [66]:
weekly['years_exp'] = weekly['season'] - weekly['entry_year']

In [67]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202157 entries, 0 to 206428
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         202157 non-null  int64
 1   team           202157 non-null  object
 2   position       202157 non-null  object
 3   jersey_number  201974 non-null  float64
 4   status         202157 non-null  object
 5   player_name    202157 non-null  object
 6   birth_date     202157 non-null  object
 7   height         202157 non-null  float64
 8   weight         202157 non-null  float64
 9   player_id      202157 non-null  object
 10  years_exp      202157 non-null  object
 11  week           202157 non-null  int64
 12  game_type      202157 non-null  object
 13  entry_year     202157 non-null  object
 14  rookie_year    201562 non-null  float64
 15  age            182521 non-null  float64
 16  cleaned_name   202157 non-null  object
 17  unique_id      202157 non-null  object
 18  active_games   202157 non-null  int64
 19  max_week       202157 non-null  int64
 20  missed_games   202157 non-null  int64
dtypes: float64(5), int64(5), object(11)
memory usage: 33.9+ MB

In [68]:
weekly['birth_date'] = pd.to_datetime(weekly['birth_date'])

In [69]:
weekly['birth_year'] = weekly['birth_date'].dt.year
weekly['age'] = weekly['season'] - weekly['birth_year']

In [70]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202157 entries, 0 to 206428
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   season         202157 non-null  int64
 1   team           202157 non-null  object
 2   position       202157 non-null  object
 3   jersey_number  201974 non-null  float64
 4   status         202157 non-null  object
 5   player_name    202157 non-null  object
 6   birth_date     202157 non-null  datetime64[ns]
 7   height         202157 non-null  float64
 8   weight         202157 non-null  float64
 9   player_id      202157 non-null  object
 10  years_exp      202157 non-null  object
 11  week           202157 non-null  int64
 12  game_type      202157 non-null  object
 13  entry_year     202157 non-null  object
 14  rookie_year    201562 non-null  float64
 15  age            202157 non-null  int64
 16  cleaned_name   202157 non-null  object
 17  unique_id      202157 non-null  object
 18  active_games   202157 non-null  int64
 19  max_week       202157 non-null  int64
 20  missed_games   202157 non-null  int64
 21  birth_year     202157 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(10)
memory usage: 35.5+ MB

In [71]:
nan_cols = weekly.columns[weekly.isna().any()].tolist()
nan_cols

['jersey_number', 'rookie_year']

In [72]:
weekly = weekly.drop(columns=nan_cols)

In [73]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202157 entries, 0 to 206428
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   season        202157 non-null  int64
 1   team          202157 non-null  object
 2   position      202157 non-null  object
 3   status        202157 non-null  object
 4   player_name   202157 non-null  object
 5   birth_date    202157 non-null  datetime64[ns]
 6   height        202157 non-null  float64
 7   weight        202157 non-null  float64
 8   player_id     202157 non-null  object
 9   years_exp     202157 non-null  object
 10  week          202157 non-null  int64
 11  game_type     202157 non-null  object
 12  entry_year    202157 non-null  object
 13  age           202157 non-null  int64
 14  cleaned_name  202157 non-null  object
 15  unique_id     202157 non-null  object
 16  active_games  202157 non-null  int64
 17  max_week      202157 non-null  int64
 18  missed_games  202157 non-null  int64
 19  birth_year    202157 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(10)
memory usage: 32.4+ MB

**Dataset is cleaned, time to aggregate down to seasonal data**

In [74]:
filtered = weekly.groupby('unique_id')['week'].idxmax()
weekly_filtered = weekly.loc[filtered]
weekly_filtered

,season,team,position,status,player_name,birth_date,height,weight,player_id,years_exp,week,game_type,entry_year,age,cleaned_name,unique_id,active_games,max_week,missed_games,birth_year
10,2009,PHI,K,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,12.0,18,WC,1997.0,35,David Akers,00-0000108_2009_David_Akers_K,18,18,0,1974
9654,2010,PHI,K,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,13.0,18,WC,1997.0,36,David Akers,00-0000108_2010_David_Akers_K,18,18,0,1974
19272,2011,SF,K,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,14.0,20,CON,1997.0,37,David Akers,00-0000108_2011_David_Akers_K,20,20,0,1974
28789,2012,SF,K,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,15.0,21,SB,1997.0,38,David Akers,00-0000108_2012_David_Akers_K,21,21,0,1974
38482,2013,DET,K,ACT,David Akers,1974-12-09,70.0,200.0,00-0000108,16.0,17,REG,1997.0,39,David Akers,00-0000108_2013_David_Akers_K,17,17,0,1974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206407,2024,SEA,RB,CUT,Kairee Robinson,2000-02-23,67.0,195.0,00-0039940,0.0,1,REG,2024.0,24,Kairee Robinson,00-0039940_2024_Kairee_Robinson_RB,0,18,18,2000
206408,2024,KC,TE,CUT,Geor'Quarius Spivey,1999-10-06,77.0,240.0,00-0039941,0.0,1,REG,2024.0,25,Geor'Quarius Spivey,00-0039941_2024_Geor'Quarius_Spivey_TE,0,22,22,1999
206409,2024,NO,TE,CUT,Mason Fairchild,2001-08-30,76.0,260.0,00-0039942,0.0,1,REG,2024.0,23,Mason Fairchild,00-0039942_2024_Mason_Fairchild_TE,0,18,18,2001
206427,2024,GB,K,DEV,Alex Hale,1998-03-07,72.0,205.0,00-0039945,0.0,19,WC,2024.0,26,Alex Hale,00-0039945_2024_Alex_Hale_K,0,19,19,1998
206428,2024,SEA,TE,CUT,Devon Garrison,1999-10-15,78.0,240.0,00-0039952,0.0,1,REG,2024.0,25,Devon Garrison,00-0039952_2024_Devon_Garrison_TE,0,18,18,1999

In [75]:
weekly_filtered['player_id'].nunique() - weekly_filtered[weekly_filtered['status'] == 'ACT']['player_id'].nunique()

945

In [76]:
weekly_filtered['player_id'].nunique()

3384

In [77]:
weekly_filtered[weekly_filtered['status'] == 'ACT']['player_id'].nunique()

2439

## Stats

In [78]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 63 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    10979 non-null  object
 1   season                       10979 non-null  int64
 2   season_type                  10979 non-null  object
 3   completions                  10979 non-null  int64
 4   attempts                     10979 non-null  int64
 5   passing_yards                10979 non-null  float64
 6   passing_tds                  10979 non-null  int64
 7   interceptions                10979 non-null  float64
 8   sacks                        10979 non-null  float64
 9   sack_yards                   10979 non-null  float64
 10  sack_fumbles                 10979 non-null  int64
 11  sack_fumbles_lost            10979 non-null  int64
 12  passing_air_yards            10979 non-null  float64
 13  passing_yards_after_catch    10979 non-null  float64
 14  passing_first_downs          10979 non-null  float64
 15  passing_epa                  10979 non-null  float64
 16  passing_2pt_conversions      10979 non-null  int64
 17  pacr                         10979 non-null  float64
 18  dakota                       10979 non-null  float64
 19  carries                      10979 non-null  int64
 20  rushing_yards                10979 non-null  float64
 21  rushing_tds                  10979 non-null  int64
 22  rushing_fumbles              10979 non-null  float64
 23  rushing_fumbles_lost         10979 non-null  float64
 24  rushing_first_downs          10979 non-null  float64
 25  rushing_epa                  10979 non-null  float64
 26  rushing_2pt_conversions      10979 non-null  int64
 27  receptions                   10979 non-null  int64
 28  targets                      10979 non-null  int64
 29  receiving_yards              10979 non-null  float64
 30  receiving_tds                10979 non-null  int64
 31  receiving_fumbles            10979 non-null  float64
 32  receiving_fumbles_lost       10979 non-null  float64
 33  receiving_air_yards          10979 non-null  float64
 34  receiving_yards_after_catch  10979 non-null  float64
 35  receiving_first_downs        10979 non-null  float64
 36  receiving_epa                10979 non-null  float64
 37  receiving_2pt_conversions    10979 non-null  int64
 38  racr                         10979 non-null  float64
 39  target_share                 10979 non-null  float64
 40  air_yards_share              10979 non-null  float64
 41  wopr_x                       10979 non-null  float64
 42  special_teams_tds            10979 non-null  float64
 43  fantasy_points               10979 non-null  float64
 44  fantasy_points_ppr           10979 non-null  float64
 45  games                        10979 non-null  int64
 46  tgt_sh                       10979 non-null  float64
 47  ay_sh                        10979 non-null  float64
 48  yac_sh                       10979 non-null  float64
 49  wopr_y                       10979 non-null  float64
 50  ry_sh                        10979 non-null  float64
 51  rtd_sh                       10737 non-null  float64
 52  rfd_sh                       10979 non-null  float64
 53  rtdfd_sh                     10979 non-null  float64
 54  dom                          10737 non-null  float64
 55  w8dom                        10737 non-null  float64
 56  yptmpa                       10979 non-null  float64
 57  ppr_sh                       10979 non-null  float64
 58  cleaned_name                 10979 non-null  object
 59  id_season                    10979 non-null  object
 60  position                     10979 non-null  object
 61  team                         10816 non-null  object
 62  unique_id                    10979 non-null  object
dtypes: float64(41), int64(15), object(7)
memory usage: 5.3+ MB

In [79]:
stats['player_id'].nunique()

2385

In [80]:
drop_cols = ['passing_yards_after_catch', 'passing_epa', 'dakota', 'rushing_epa',
             'fantasy_points', 'fantasy_points_ppr', 'pacr', 'racr', 'receiving_epa', 'dom', 'w8dom']

stats = stats.drop(columns=drop_cols)

In [81]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 52 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    10979 non-null  object
 1   season                       10979 non-null  int64
 2   season_type                  10979 non-null  object
 3   completions                  10979 non-null  int64
 4   attempts                     10979 non-null  int64
 5   passing_yards                10979 non-null  float64
 6   passing_tds                  10979 non-null  int64
 7   interceptions                10979 non-null  float64
 8   sacks                        10979 non-null  float64
 9   sack_yards                   10979 non-null  float64
 10  sack_fumbles                 10979 non-null  int64
 11  sack_fumbles_lost            10979 non-null  int64
 12  passing_air_yards            10979 non-null  float64
 13  passing_first_downs          10979 non-null  float64
 14  passing_2pt_conversions      10979 non-null  int64
 15  carries                      10979 non-null  int64
 16  rushing_yards                10979 non-null  float64
 17  rushing_tds                  10979 non-null  int64
 18  rushing_fumbles              10979 non-null  float64
 19  rushing_fumbles_lost         10979 non-null  float64
 20  rushing_first_downs          10979 non-null  float64
 21  rushing_2pt_conversions      10979 non-null  int64
 22  receptions                   10979 non-null  int64
 23  targets                      10979 non-null  int64
 24  receiving_yards              10979 non-null  float64
 25  receiving_tds                10979 non-null  int64
 26  receiving_fumbles            10979 non-null  float64
 27  receiving_fumbles_lost       10979 non-null  float64
 28  receiving_air_yards          10979 non-null  float64
 29  receiving_yards_after_catch  10979 non-null  float64
 30  receiving_first_downs        10979 non-null  float64
 31  receiving_2pt_conversions    10979 non-null  int64
 32  target_share                 10979 non-null  float64
 33  air_yards_share              10979 non-null  float64
 34  wopr_x                       10979 non-null  float64
 35  special_teams_tds            10979 non-null  float64
 36  games                        10979 non-null  int64
 37  tgt_sh                       10979 non-null  float64
 38  ay_sh                        10979 non-null  float64
 39  yac_sh                       10979 non-null  float64
 40  wopr_y                       10979 non-null  float64
 41  ry_sh                        10979 non-null  float64
 42  rtd_sh                       10737 non-null  float64
 43  rfd_sh                       10979 non-null  float64
 44  rtdfd_sh                     10979 non-null  float64
 45  yptmpa                       10979 non-null  float64
 46  ppr_sh                       10979 non-null  float64
 47  cleaned_name                 10979 non-null  object
 48  id_season                    10979 non-null  object
 49  position                     10979 non-null  object
 50  team                         10816 non-null  object
 51  unique_id                    10979 non-null  object
dtypes: float64(30), int64(15), object(7)
memory usage: 4.4+ MB

**There are two wopr columns and I want to check if they are the same**

In [82]:
wopr_check = stats[['wopr_x', 'wopr_y']]
wopr_check

         wopr_x    wopr_y
0      0.000000  0.000000
1      0.000000  0.000000
2      0.000000  0.000000
3      0.000000  0.000000
4      0.000000  0.000000
...         ...       ...
10974  0.000000  0.000000
10975  0.000000  0.000000
10976  8.702520  0.514337
10977  0.431020  0.094505
10978  0.277913  0.018288

[10979 rows x 2 columns]

**It is not clear from the data dictionary and github repository for the library what each of these numbers are in relation to each other. Will drop columns**

In [83]:
stats = stats.drop(columns=['wopr_x', 'wopr_y'])

In [84]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    10979 non-null  object
 1   season                       10979 non-null  int64
 2   season_type                  10979 non-null  object
 3   completions                  10979 non-null  int64
 4   attempts                     10979 non-null  int64
 5   passing_yards                10979 non-null  float64
 6   passing_tds                  10979 non-null  int64
 7   interceptions                10979 non-null  float64
 8   sacks                        10979 non-null  float64
 9   sack_yards                   10979 non-null  float64
 10  sack_fumbles                 10979 non-null  int64
 11  sack_fumbles_lost            10979 non-null  int64
 12  passing_air_yards            10979 non-null  float64
 13  passing_first_downs          10979 non-null  float64
 14  passing_2pt_conversions      10979 non-null  int64
 15  carries                      10979 non-null  int64
 16  rushing_yards                10979 non-null  float64
 17  rushing_tds                  10979 non-null  int64
 18  rushing_fumbles              10979 non-null  float64
 19  rushing_fumbles_lost         10979 non-null  float64
 20  rushing_first_downs          10979 non-null  float64
 21  rushing_2pt_conversions      10979 non-null  int64
 22  receptions                   10979 non-null  int64
 23  targets                      10979 non-null  int64
 24  receiving_yards              10979 non-null  float64
 25  receiving_tds                10979 non-null  int64
 26  receiving_fumbles            10979 non-null  float64
 27  receiving_fumbles_lost       10979 non-null  float64
 28  receiving_air_yards          10979 non-null  float64
 29  receiving_yards_after_catch  10979 non-null  float64
 30  receiving_first_downs        10979 non-null  float64
 31  receiving_2pt_conversions    10979 non-null  int64
 32  target_share                 10979 non-null  float64
 33  air_yards_share              10979 non-null  float64
 34  special_teams_tds            10979 non-null  float64
 35  games                        10979 non-null  int64
 36  tgt_sh                       10979 non-null  float64
 37  ay_sh                        10979 non-null  float64
 38  yac_sh                       10979 non-null  float64
 39  ry_sh                        10979 non-null  float64
 40  rtd_sh                       10737 non-null  float64
 41  rfd_sh                       10979 non-null  float64
 42  rtdfd_sh                     10979 non-null  float64
 43  yptmpa                       10979 non-null  float64
 44  ppr_sh                       10979 non-null  float64
 45  cleaned_name                 10979 non-null  object
 46  id_season                    10979 non-null  object
 47  position                     10979 non-null  object
 48  team                         10816 non-null  object
 49  unique_id                    10979 non-null  object
dtypes: float64(28), int64(15), object(7)
memory usage: 4.2+ MB

**Missing values in rtd_sh which is receiving touchdown share. Check if anyone with a receiving touchdown has a NaN for share**

In [96]:
stats[(stats['rtd_sh'].isna()) & (stats['receiving_tds'] > 0)]

Empty DataFrame
Columns: [player_id, season, season_type, completions, attempts, passing_yards, passing_tds, interceptions, sacks, sack_yards, sack_fumbles, sack_fumbles_lost, passing_air_yards, passing_first_downs, passing_2pt_conversions, carries, rushing_yards, rushing_tds, rushing_fumbles, rushing_fumbles_lost, rushing_first_downs, rushing_2pt_conversions, receptions, targets, receiving_yards, receiving_tds, receiving_fumbles, receiving_fumbles_lost, receiving_air_yards, receiving_yards_after_catch, receiving_first_downs, receiving_2pt_conversions, target_share, air_yards_share, special_teams_tds, games, tgt_sh, ay_sh, yac_sh, ry_sh, rtd_sh, rfd_sh, rtdfd_sh, yptmpa, ppr_sh, cleaned_name, id_season, position, team, unique_id]
Index: []

**This is just players who have no reception touchdowns, therefore their td share is 0. Will fill nans with 0**

In [98]:
stats['rtd_sh'] = stats['rtd_sh'].fillna(0)

In [101]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    10979 non-null  object
 1   season                       10979 non-null  int64
 2   season_type                  10979 non-null  object
 3   completions                  10979 non-null  int64
 4   attempts                     10979 non-null  int64
 5   passing_yards                10979 non-null  float64
 6   passing_tds                  10979 non-null  int64
 7   interceptions                10979 non-null  float64
 8   sacks                        10979 non-null  float64
 9   sack_yards                   10979 non-null  float64
 10  sack_fumbles                 10979 non-null  int64
 11  sack_fumbles_lost            10979 non-null  int64
 12  passing_air_yards            10979 non-null  float64
 13  passing_first_downs          10979 non-null  float64
 14  passing_2pt_conversions      10979 non-null  int64
 15  carries                      10979 non-null  int64
 16  rushing_yards                10979 non-null  float64
 17  rushing_tds                  10979 non-null  int64
 18  rushing_fumbles              10979 non-null  float64
 19  rushing_fumbles_lost         10979 non-null  float64
 20  rushing_first_downs          10979 non-null  float64
 21  rushing_2pt_conversions      10979 non-null  int64
 22  receptions                   10979 non-null  int64
 23  targets                      10979 non-null  int64
 24  receiving_yards              10979 non-null  float64
 25  receiving_tds                10979 non-null  int64
 26  receiving_fumbles            10979 non-null  float64
 27  receiving_fumbles_lost       10979 non-null  float64
 28  receiving_air_yards          10979 non-null  float64
 29  receiving_yards_after_catch  10979 non-null  float64
 30  receiving_first_downs        10979 non-null  float64
 31  receiving_2pt_conversions    10979 non-null  int64
 32  target_share                 10979 non-null  float64
 33  air_yards_share              10979 non-null  float64
 34  special_teams_tds            10979 non-null  float64
 35  games                        10979 non-null  int64
 36  tgt_sh                       10979 non-null  float64
 37  ay_sh                        10979 non-null  float64
 38  yac_sh                       10979 non-null  float64
 39  ry_sh                        10979 non-null  float64
 40  rtd_sh                       10979 non-null  float64
 41  rfd_sh                       10979 non-null  float64
 42  rtdfd_sh                     10979 non-null  float64
 43  yptmpa                       10979 non-null  float64
 44  ppr_sh                       10979 non-null  float64
 45  cleaned_name                 10979 non-null  object
 46  id_season                    10979 non-null  object
 47  position                     10979 non-null  object
 48  team                         10816 non-null  object
 49  unique_id                    10979 non-null  object
dtypes: float64(28), int64(15), object(7)
memory usage: 4.2+ MB

In [102]:
stats[stats['team'].isna()]

,player_id,season,season_type,completions,attempts,passing_yards,passing_tds,interceptions,sacks,sack_yards,sack_fumbles,sack_fumbles_lost,passing_air_yards,passing_first_downs,passing_2pt_conversions,carries,rushing_yards,rushing_tds,rushing_fumbles,rushing_fumbles_lost,rushing_first_downs,rushing_2pt_conversions,receptions,targets,receiving_yards,receiving_tds,receiving_fumbles,receiving_fumbles_lost,receiving_air_yards,receiving_yards_after_catch,receiving_first_downs,receiving_2pt_conversions,target_share,air_yards_share,special_teams_tds,games,tgt_sh,ay_sh,yac_sh,ry_sh,rtd_sh,rfd_sh,rtdfd_sh,yptmpa,ppr_sh,cleaned_name,id_season,position,team,unique_id
419,00-0021755,2010,REG,1,1,2.0,1,0.0,0.0,0.0,0,0,2.0,1.0,0,20,99.0,1,1.0,1.0,5.0,0,16,19,130.0,1,0.0,0.0,24.0,116.0,3.0,0,0.675021,0.080161,0.0,11,0.055233,0.007505,0.114625,0.051896,0.055556,0.023810,0.027778,0.377907,0.058239,Earnest Graham,00-0021755_2010,RB,NaN,00-0021755_2010_Earnest_Graham_RB
420,00-0021755,2011,REG,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,37,206.0,0,1.0,0.0,6.0,0,26,31,163.0,0,0.0,0.0,45.0,141.0,8.0,0,0.841742,0.203784,0.0,7,0.112319,0.021480,0.178030,0.093840,0.000000,0.091954,0.085106,0.590580,0.112426,Earnest Graham,00-0021755_2011,RB,NaN,00-0021755_2011_Earnest_Graham_RB
786,00-0022999,2009,POST,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,1,1.0,1,0.0,0.0,1.0,0,1,1,-3.0,0,0.0,0.0,-3.0,0.0,0.0,0,0.023810,-0.007126,0.0,9,0.026403,0.002471,0.029911,0.016430,0.100000,0.024590,0.035211,0.145215,0.041333,John Kuhn,00-0022999_2009,RB,NaN,00-0022999_2009_John_Kuhn_RB
787,00-0022999,2009,REG,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,8,18.0,1,0.0,0.0,2.0,0,7,7,47.0,2,0.0,0.0,10.0,37.0,3.0,0,0.211341,0.026472,0.0,9,0.026403,0.002471,0.029911,0.016430,0.100000,0.024590,0.035211,0.145215,0.041333,John Kuhn,00-0022999_2009,RB,NaN,00-0022999_2009_John_Kuhn_RB
788,00-0022999,2010,POST,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,6,8.0,1,1.0,0.0,2.0,0,6,7,53.0,1,0.0,0.0,1.0,52.0,4.0,0,0.233333,0.004918,0.0,18,0.041528,-0.002525,0.074262,0.030998,0.090909,0.043290,0.049242,0.249169,0.068952,John Kuhn,00-0022999_2010,RB,NaN,00-0022999_2010_John_Kuhn_RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7820,00-0033572,2018,REG,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,1,17.0,0,0.0,0.0,1.0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0.0,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016572,Jamal Agnew,00-0033572_2018,WR,NaN,00-0033572_2018_Jamal_Agnew_WR
7821,00-0033572,2019,REG,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,1,9.0,0,0.0,0.0,1.0,0,1,2,-2.0,0,0.0,0.0,29.0,1.0,0.0,0,0.068966,0.111111,2.0,4,0.016949,0.024957,0.003802,-0.002762,0.000000,0.000000,0.000000,-0.016949,0.052438,Jamal Agnew,00-0033572_2019,WR,NaN,00-0033572_2019_Jamal_Agnew_WR
8311,00-0034171,2020,REG,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,1,0.0,0,0.0,0.0,0.0,0,2,3,8.0,0,0.0,0.0,-4.0,6.0,1.0,0,0.079870,-0.010856,0.0,3,0.025210,-0.004228,0.014851,0.009926,0.000000,0.020833,0.018519,0.067227,0.009535,Jason Cabinda,00-0034171_2020,RB,NaN,00-0034171_2020_Jason_Cabinda_RB
8383,00-0034278,2021,REG,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,1,7.0,0,0.0,0.0,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,1.0,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.035787,Tremon Smith,00-0034278_2021,WR,NaN,00-0034278_2021_Tremon_Smith_WR
8713,00-0034705,2019,REG,0,0,0.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,1,11.0,0,0.0,0.0,1.0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0,0.000000,0.000000,0.0,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.015550,John Franklin,00-0034705_2019,WR,NaN,00-0034705_2019_John_Franklin_WR

**For the sake of mvp, will drop these columns with "UNKT" for unknown team and move forward**

In [124]:
stats['team'] = stats['team'].fillna('UNKT')

In [125]:
stats[stats['team'].isna()]

Empty DataFrame
Columns: [player_id, season, season_type, completions, attempts, passing_yards, passing_tds, interceptions, sacks, sack_yards, sack_fumbles, sack_fumbles_lost, passing_air_yards, passing_first_downs, passing_2pt_conversions, carries, rushing_yards, rushing_tds, rushing_fumbles, rushing_fumbles_lost, rushing_first_downs, rushing_2pt_conversions, receptions, targets, receiving_yards, receiving_tds, receiving_fumbles, receiving_fumbles_lost, receiving_air_yards, receiving_yards_after_catch, receiving_first_downs, receiving_2pt_conversions, target_share, air_yards_share, special_teams_tds, games, tgt_sh, ay_sh, yac_sh, ry_sh, rtd_sh, rfd_sh, rtdfd_sh, yptmpa, ppr_sh, cleaned_name, id_season, position, team, unique_id]
Index: []

In [126]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10979 entries, 0 to 10978
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    10979 non-null  object
 1   season                       10979 non-null  int64
 2   season_type                  10979 non-null  object
 3   completions                  10979 non-null  int64
 4   attempts                     10979 non-null  int64
 5   passing_yards                10979 non-null  float64
 6   passing_tds                  10979 non-null  int64
 7   interceptions                10979 non-null  float64
 8   sacks                        10979 non-null  float64
 9   sack_yards                   10979 non-null  float64
 10  sack_fumbles                 10979 non-null  int64
 11  sack_fumbles_lost            10979 non-null  int64
 12  passing_air_yards            10979 non-null  float64
 13  passing_first_downs          10979 non-null  float64
 14  passing_2pt_conversions      10979 non-null  int64
 15  carries                      10979 non-null  int64
 16  rushing_yards                10979 non-null  float64
 17  rushing_tds                  10979 non-null  int64
 18  rushing_fumbles              10979 non-null  float64
 19  rushing_fumbles_lost         10979 non-null  float64
 20  rushing_first_downs          10979 non-null  float64
 21  rushing_2pt_conversions      10979 non-null  int64
 22  receptions                   10979 non-null  int64
 23  targets                      10979 non-null  int64
 24  receiving_yards              10979 non-null  float64
 25  receiving_tds                10979 non-null  int64
 26  receiving_fumbles            10979 non-null  float64
 27  receiving_fumbles_lost       10979 non-null  float64
 28  receiving_air_yards          10979 non-null  float64
 29  receiving_yards_after_catch  10979 non-null  float64
 30  receiving_first_downs        10979 non-null  float64
 31  receiving_2pt_conversions    10979 non-null  int64
 32  target_share                 10979 non-null  float64
 33  air_yards_share              10979 non-null  float64
 34  special_teams_tds            10979 non-null  float64
 35  games                        10979 non-null  int64
 36  tgt_sh                       10979 non-null  float64
 37  ay_sh                        10979 non-null  float64
 38  yac_sh                       10979 non-null  float64
 39  ry_sh                        10979 non-null  float64
 40  rtd_sh                       10979 non-null  float64
 41  rfd_sh                       10979 non-null  float64
 42  rtdfd_sh                     10979 non-null  float64
 43  yptmpa                       10979 non-null  float64
 44  ppr_sh                       10979 non-null  float64
 45  cleaned_name                 10979 non-null  object
 46  id_season                    10979 non-null  object
 47  position                     10979 non-null  object
 48  team                         10979 non-null  object
 49  unique_id                    10979 non-null  object
dtypes: float64(28), int64(15), object(7)
memory usage: 4.2+ MB