# Imports

In [1]:
import nfl_data_py as nfl
import pandas as pd
import numpy as np

In [2]:
# Pull in weekly injuries

injuries = nfl.import_injuries(range(2009,2025))

In [3]:
# Info check

injuries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84684 entries, 0 to 6214
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   season                     84684 non-null  float64
 1   game_type                  84684 non-null  object
 2   team                       84684 non-null  object
 3   week                       84684 non-null  float64
 4   gsis_id                    84684 non-null  object
 5   position                   84684 non-null  object
 6   full_name                  84684 non-null  object
 7   first_name                 84684 non-null  object
 8   last_name                  84684 non-null  object
 9   report_primary_injury      57718 non-null  object
 10  report_secondary_injury    3202 non-null   object
 11  report_status              57724 non-null  object
 12  practice_primary_injury    84462 non-null  object
 13  practice_secondary_injury  4887 non-null   object
 14  practice_status            84684 non-null  object
 15  date_modified              79818 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 11.0+ MB

In [4]:
# Take a look at NaNs in primary injury -- they look to be rest days

injuries[injuries['report_primary_injury'].isna()]

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
51,2009.0,REG,DET,1.0,00-0021525,TE,Casey Fitzsimmons,Casey,Fitzsimmons,None,None,None,Knee,None,Full Participation in Practice,NaT
52,2009.0,REG,DET,1.0,00-0020329,CB,Anthony Henry,Anthony,Henry,None,None,None,Shoulder,None,Full Participation in Practice,NaT
71,2009.0,REG,IND,1.0,00-0023464,CB,Marlin Jackson,Marlin,Jackson,None,None,None,Not Injury Related,None,Did Not Participate In Practice,NaT
72,2009.0,REG,IND,1.0,00-0024277,CB,Tim Jennings,Tim,Jennings,None,None,None,Not Injury Related,None,Full Participation in Practice,NaT
80,2009.0,REG,KC,1.0,00-0025701,RB,Jackie Battle,Jackie,Battle,None,None,None,Illness,None,Full Participation in Practice,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6206,2024.0,SB,PHI,22.0,00-0037002,G,Landon Dickerson,Landon,Dickerson,None,None,None,Knee,None,Full Participation in Practice,2025-02-07 20:29:05
6207,2024.0,SB,PHI,22.0,00-0036919,RB,Kenneth Gainwell,Kenneth,Gainwell,None,None,None,Concussion,Knee,Full Participation in Practice,2025-02-07 20:29:05
6208,2024.0,SB,PHI,22.0,00-0034351,TE,Dallas Goedert,Dallas,Goedert,None,None,None,Ankle,None,Full Participation in Practice,2025-02-07 20:29:05
6209,2024.0,SB,PHI,22.0,00-0038112,G,Cam Jurgens,Cam,Jurgens,None,None,None,Back,None,Full Participation in Practice,2025-02-07 20:29:05
6210,2024.0,SB,PHI,22.0,00-0036912,WR,DeVonta Smith,DeVonta,Smith,None,None,None,Hamstring,None,Limited Participation in Practice,2025-02-07 20:29:05

In [5]:
# Take a look at players who were out but participated in practice

injuries[(injuries['report_status'] == 'Out') & (injuries['practice_status'] != 'Did Not Participate In Practice')]

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
25,2009.0,REG,CIN,1.0,00-0025532,CB,David Jones,David,Jones,Foot,None,Out,Foot,None,Out (Definitely Will Not Play),NaT
26,2009.0,REG,CIN,1.0,00-0026982,T,Andre Smith,Andre,Smith,Foot,None,Out,Foot,None,Out (Definitely Will Not Play),NaT
31,2009.0,REG,CLE,1.0,00-0022905,G,Rex Hadnot,Rex,Hadnot,Knee,None,Out,Knee,None,Out (Definitely Will Not Play),NaT
67,2009.0,REG,HOU,1.0,00-0022767,CB,Jacques Reeves,Jacques,Reeves,Fibula,None,Out,Fibula,None,Full Participation in Practice,NaT
115,2009.0,REG,OAK,1.0,00-0026366,WR,Chaz Schilens,Chaz,Schilens,Foot,None,Out,Foot,None,Out (Definitely Will Not Play),NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6125,2024.0,DIV,LA,20.0,00-0035617,LB,Troy Reeder,Troy,Reeder,Hamstring,None,Out,Hamstring,None,Full Participation in Practice,2025-01-17 20:56:08
6137,2024.0,DIV,PHI,20.0,00-0038978,DT,Byron Young,Byron,Young,Hamstring,None,Out,Hamstring,None,Full Participation in Practice,2025-01-17 20:10:19
6179,2024.0,CON,PHI,21.0,00-0038978,DT,Byron Young,Byron,Young,Hamstring,None,Out,Hamstring,None,Full Participation in Practice,2025-01-24 19:56:53
6180,2024.0,CON,PHI,21.0,00-0037132,WR,Britain Covey,Britain,Covey,Neck,None,Out,Neck,None,Limited Participation in Practice,2025-01-24 19:56:14
6211,2024.0,SB,PHI,22.0,00-0037132,WR,Britain Covey,Britain,Covey,Neck,None,Out,Neck,None,Full Participation in Practice,2025-02-07 20:32:07

In [6]:
# Import rosters

rosters_seas = nfl.import_seasonal_rosters(range(2009, 2025))

In [7]:
# rosters head check

rosters_seas.head()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
0,2009,DAL,T,None,76,ACT,Flozell Adams,Flozell,Adams,1975-05-18,...,A01,Flozell,ADA280969,None,32004144-4128-0969-9390-de3ae33872eb,1998.0,1998.0,DAL,38,34.0
1,2009,PHI,K,None,2,ACT,David Akers,David,Akers,1974-12-09,...,A01,David,AKE551610,None,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,None,None,34.0
2,2009,WAS,LS,None,67,ACT,Ethan Albright,Lawrence,Albright,1971-05-01,...,A01,Ethan,ALB637766,None,3200414c-4263-7766-3ff2-577dbeb62e1c,1994.0,1994.0,None,None,38.0
3,2009,BLT,ILB,None,51,RES,Brendon Ayanbadejo,Brendon,Ayanbadejo,1976-09-06,...,A01,Brendon,AYA436705,None,32004159-4143-6705-e019-7daf37d2f1af,1999.0,1999.0,None,None,32.0
4,2009,DEN,CB,None,24,ACT,Champ Bailey,Roland,Bailey,1978-06-22,...,A01,Champ,BAI582194,None,32004241-4958-2194-25da-8624608fa14d,1999.0,1999.0,WAS,7,31.0

In [8]:
# Rosters info check

rosters_seas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42809 entries, 0 to 42821
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   42809 non-null  int32
 1   team                     42809 non-null  object
 2   position                 42793 non-null  object
 3   depth_chart_position     27846 non-null  object
 4   jersey_number            42575 non-null  object
 5   status                   42791 non-null  object
 6   player_name              42808 non-null  object
 7   first_name               42809 non-null  object
 8   last_name                42809 non-null  object
 9   birth_date               40232 non-null  datetime64[ns]
 10  height                   42788 non-null  float64
 11  weight                   42792 non-null  float64
 12  college                  35033 non-null  object
 13  player_id                42809 non-null  object
 14  espn_id                  22929 non-null  object
 15  sportradar_id            23660 non-null  object
 16  yahoo_id                 22004 non-null  object
 17  rotowire_id              23702 non-null  object
 18  pff_id                   21547 non-null  object
 19  pfr_id                   16960 non-null  object
 20  fantasy_data_id          20426 non-null  object
 21  sleeper_id               23164 non-null  object
 22  years_exp                42280 non-null  float64
 23  headshot_url             41322 non-null  object
 24  ngs_position             10700 non-null  object
 25  week                     42809 non-null  int32
 26  game_type                42809 non-null  object
 27  status_description_abbr  36658 non-null  object
 28  football_name            42789 non-null  object
 29  esb_id                   42762 non-null  object
 30  gsis_it_id               35315 non-null  object
 31  smart_id                 42680 non-null  object
 32  entry_year               42280 non-null  float64
 33  rookie_year              42267 non-null  float64
 34  draft_club               25671 non-null  object
 35  draft_number             23444 non-null  object
 36  age                      40232 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(2), object(28)
memory usage: 12.1+ MB

In [9]:
# Take a deeper look at missing bdays

missing = rosters_seas[rosters_seas['birth_date'].isna()]

In [10]:
# How many missing bdays

missing.shape[0]

2577

In [11]:
# Look at roster status types

rosters_seas['status'].value_counts()

ACT    27180
RES     5413
CUT     4641
DEV     3768
INA     1276
UFA      124
RET       99
RSN       80
NWT       62
SUS       54
PUP       35
TRC       20
TRD       12
RSR       10
EXE       10
RFA        3
TRT        3
E14        1
Name: status, dtype: int64

**Found data dictionary outlining status type definitions**

In [12]:
# Take a look at players on IR

rosters_seas[rosters_seas['status'] == 'RES']

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
3,2009,BLT,ILB,None,51,RES,Brendon Ayanbadejo,Brendon,Ayanbadejo,1976-09-06,...,A01,Brendon,AYA436705,None,32004159-4143-6705-e019-7daf37d2f1af,1999.0,1999.0,None,None,32.0
6,2009,CLV,ILB,None,50,RES,Eric Barton,Eric,Barton,1977-09-29,...,A01,Eric,BAR766216,None,32004241-5276-6216-1360-96908316eed6,1999.0,1999.0,OAK,146,31.0
29,2009,CAR,QB,None,17,RES,Jake Delhomme,Jake,Delhomme,1975-01-10,...,I01,Jake,DEL367367,None,32004445-4c36-7367-f75e-2e1555e1a440,1997.0,1997.0,None,None,34.0
41,2009,MIA,NT,None,95,RES,Jason Ferguson,Jason,Ferguson,1974-11-28,...,A01,Jason,FER162060,None,32004645-5216-2060-ec42-a45bc9746a28,1997.0,1997.0,NYJ,229,34.0
43,2009,ATL,WR,None,86,RES,Brian Finneran,Brian,Finneran,1976-01-31,...,A01,Brian,FIN583520,None,32004649-4e58-3520-402c-d27b0be70001,1998.0,1998.0,None,None,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42776,2024,NE,WR,WR,1.0,RES,Ja'Lynn Polk,Ja'Lynn,Polk,2001-04-11,...,R01,Ja'Lynn,POL136646,57158,3200504f-4c13-6646-64f9-3598ba01ba77,2024.0,2024.0,NE,37.0,23.0
42790,2024,ARI,RB,RB,33.0,RES,Trey Benson,Trey,Benson,2002-07-23,...,R01,Trey,BEN649191,57187,32004245-4e64-9191-567b-28b29177bf93,2024.0,2024.0,ARI,66.0,22.0
42791,2024,MIN,QB,QB,9.0,RES,J.J. McCarthy,Jonathan,McCarthy,2003-01-20,...,R01,J.J.,MCC189531,57131,32004d43-4318-9531-b3f5-120a14383239,2024.0,2024.0,MIN,10.0,21.0
42796,2024,BUF,OL,T,67.0,RES,Travis Clayton,Travis,Clayton,2001-02-17,...,R01,Travis,CLA826931,57341,3200434c-4182-6931-55e8-0b9b4cf80da4,2024.0,2024.0,BUF,221.0,23.0
42821,2024,NO,DL,DT,76.0,RES,Camron Peterson,Camron,Peterson,1999-09-13,...,R01,Camron,PAT382575,58061,32005041-5438-2575-6a39-c3744d58b516,2024.0,2024.0,None,NaN,24.0

In [13]:
# Will look at weekly roster info for one year just to explore this particular dataset

roster_weekly = nfl.import_weekly_rosters(range(2009,2025))

In [14]:
# Weekly info check

roster_weekly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641724 entries, 0 to 641723
Data columns (total 37 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   season                   641724 non-null  int32
 1   team                     641724 non-null  object
 2   position                 641691 non-null  object
 3   depth_chart_position     419417 non-null  object
 4   jersey_number            640779 non-null  object
 5   status                   641695 non-null  object
 6   player_name              641708 non-null  object
 7   first_name               641724 non-null  object
 8   last_name                641724 non-null  object
 9   birth_date               615721 non-null  datetime64[ns]
 10  height                   641552 non-null  float64
 11  weight                   641698 non-null  float64
 12  college                  539569 non-null  object
 13  player_id                641606 non-null  object
 14  espn_id                  365376 non-null  object
 15  sportradar_id            376658 non-null  object
 16  yahoo_id                 350685 non-null  object
 17  rotowire_id              377275 non-null  object
 18  pff_id                   343109 non-null  object
 19  pfr_id                   276065 non-null  object
 20  fantasy_data_id          324620 non-null  object
 21  sleeper_id               369195 non-null  object
 22  years_exp                639092 non-null  float64
 23  headshot_url             631077 non-null  object
 24  ngs_position             185168 non-null  object
 25  week                     641724 non-null  int32
 26  game_type                641724 non-null  object
 27  status_description_abbr  549275 non-null  object
 28  football_name            641700 non-null  object
 29  esb_id                   641573 non-null  object
 30  gsis_it_id               540962 non-null  object
 31  smart_id                 641240 non-null  object
 32  entry_year               639092 non-null  float64
 33  rookie_year              639018 non-null  float64
 34  draft_club               409849 non-null  object
 35  draft_number             377514 non-null  object
 36  age                      568736 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(2), object(28)
memory usage: 176.3+ MB

In [15]:
roster_weekly['season'].value_counts(ascending=True)

2011    31338
2012    31431
2009    31632
2013    31901
2010    31926
2014    31964
2015    32098
2016    35020
2020    44130
2023    45655
2022    46163
2024    46579
2021    46696
2017    51321
2019    51632
2018    52238
Name: season, dtype: int64

**For purposes of fantasy football, only the following positions are on a roster**

1. QB
2. WR
3. RB
4. TE
5. K

Will condense roster data down to only those positions

In [16]:
# Condense weekly roster info down to fantasy footballrelevent postions

ff_weekly = roster_weekly[roster_weekly['position'].isin(['RB', 'QB', 'TE', 'WR', 'K'])]

In [17]:
# Info check now that data has been condensed to fantasy relevent positions

ff_weekly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206429 entries, 19 to 641697
Data columns (total 37 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   season                   206429 non-null  int32
 1   team                     206429 non-null  object
 2   position                 206429 non-null  object
 3   depth_chart_position     138519 non-null  object
 4   jersey_number            206131 non-null  object
 5   status                   206425 non-null  object
 6   player_name              206429 non-null  object
 7   first_name               206429 non-null  object
 8   last_name                206429 non-null  object
 9   birth_date               197386 non-null  datetime64[ns]
 10  height                   206341 non-null  float64
 11  weight                   206427 non-null  float64
 12  college                  175850 non-null  object
 13  player_id                206343 non-null  object
 14  espn_id                  166213 non-null  object
 15  sportradar_id            171502 non-null  object
 16  yahoo_id                 156677 non-null  object
 17  rotowire_id              172071 non-null  object
 18  pff_id                   154686 non-null  object
 19  pfr_id                   130657 non-null  object
 20  fantasy_data_id          144054 non-null  object
 21  sleeper_id               164221 non-null  object
 22  years_exp                205466 non-null  float64
 23  headshot_url             203063 non-null  object
 24  ngs_position             59922 non-null   object
 25  week                     206429 non-null  int32
 26  game_type                206429 non-null  object
 27  status_description_abbr  173810 non-null  object
 28  football_name            206425 non-null  object
 29  esb_id                   206396 non-null  object
 30  gsis_it_id               176292 non-null  object
 31  smart_id                 206202 non-null  object
 32  entry_year               205466 non-null  float64
 33  rookie_year              205420 non-null  float64
 34  draft_club               127659 non-null  object
 35  draft_number             116736 non-null  object
 36  age                      182850 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(2), object(28)
memory usage: 58.3+ MB

In [18]:
ff_weekly

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
19,2009,PHI,K,None,2,ACT,David Akers,David,Akers,1974-12-09,...,A01,David,AKE551610,None,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,None,None,34.880
20,2009,PHI,K,None,2,ACT,David Akers,David,Akers,1974-12-09,...,A01,David,AKE551610,None,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,None,None,34.782
21,2009,PHI,K,None,2,ACT,David Akers,David,Akers,1974-12-09,...,A01,David,AKE551610,None,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,None,None,NaN
22,2009,PHI,K,None,2,ACT,David Akers,David,Akers,1974-12-09,...,A01,David,AKE551610,None,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,None,None,34.839
23,2009,PHI,K,None,2,ACT,David Akers,David,Akers,1974-12-09,...,A01,David,AKE551610,None,3200414b-4555-1610-e0e6-a72c82e419e7,1997.0,1997.0,None,None,34.858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641678,2024,GB,K,K,16.0,DEV,Alex Hale,Alex,Hale,1998-03-07,...,P03,Alex,HAL031251,58041,32004841-4c03-1251-97e3-c8a0c955a05c,2024.0,2024.0,None,None,26.642
641679,2024,GB,K,K,16.0,DEV,Alex Hale,Alex,Hale,1998-03-07,...,P03,Alex,HAL031251,58041,32004841-4c03-1251-97e3-c8a0c955a05c,2024.0,2024.0,None,None,26.776
641680,2024,GB,K,K,16.0,DEV,Alex Hale,Alex,Hale,1998-03-07,...,P03,Alex,HAL031251,58041,32004841-4c03-1251-97e3-c8a0c955a05c,2024.0,2024.0,None,None,26.749
641681,2024,GB,K,K,16.0,DEV,Alex Hale,Alex,Hale,1998-03-07,...,P03,Alex,HAL031251,58041,32004841-4c03-1251-97e3-c8a0c955a05c,2024.0,2024.0,None,None,26.853
641697,2024,SEA,TE,TE,46.0,CUT,Devon Garrison,Devon,Garrison,1999-10-15,...,W03,Devon,GAR585703,58055,32004741-5258-5703-b43e-dadf548de13d,2024.0,2024.0,None,None,24.901

In [19]:
# ESB ID Is a unique ID that is missing the least amount of values. Check how many unique IDs there
# are as there are repeat players in weekly data

ff_weekly['esb_id'].nunique()

3802

**Birth date/age is most likely correlated to missed games. There is enough missing data to warrant a further look as it is not missing at random, birthday data is available**

In [20]:
# Check how many unique IDs are missing birthdays

ff_weekly[ff_weekly['birth_date'].isna()]['esb_id'].nunique()

811

**10% of players are missing birthdays**

In [21]:
# Make dataframe with just missing bdays

no_bday = ff_weekly[ff_weekly['birth_date'].isna()]

In [22]:
no_bday

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
166278,2014,NO,TE,None,84,None,Tom Crabtree,Tom,Crabtree,NaT,...,A01,Tom,CRA116294,None,32004352-4111-6294-35de-6139ff2a2c55,2009.0,2009.0,None,None,NaN
177529,2014,SEA,WR,None,88,None,Phil Bates,Phillip,Bates,NaT,...,A01,Phil,BAT137358,None,32004241-5413-7358-a2cc-8d3ad6f94d03,2012.0,2012.0,None,None,NaN
177530,2014,SEA,WR,None,88,None,Phil Bates,Phillip,Bates,NaT,...,I01,Phil,BAT137358,None,32004241-5413-7358-a2cc-8d3ad6f94d03,2012.0,2012.0,None,None,NaN
177531,2014,CLV,WR,None,89,None,Phil Bates,Phillip,Bates,NaT,...,I01,Phil,BAT137358,None,32004241-5413-7358-a2cc-8d3ad6f94d03,2012.0,2012.0,None,None,NaN
222324,2016,ATL,K,K,6.0,CUT,Shayne Graham,Shayne,Graham,NaT,...,None,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,NaN,NaN,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637414,2024,HOU,WR,WR,NaN,CUT,Jaxon Janke,Jaxon,Janke,NaT,...,A01,Jaxon,JAN439601,57733,None,2024.0,2024.0,None,None,NaN
638364,2024,MIN,WR,WR,NaN,CUT,Devron Harper,Devron,Harper,NaT,...,A01,Devron,None,57871,None,2024.0,2024.0,None,None,NaN
639281,2024,NYJ,WR,WR,NaN,CUT,Hamze El-Zayat,Hamze,El-Zayat,NaT,...,A01,Hamze,ELZ207645,57925,None,2024.0,2024.0,None,None,NaN
639282,2024,NYJ,RB,RB,NaN,CUT,Markese Stepp,Markese,Stepp,NaT,...,W03,Markese,None,57926,None,2024.0,2024.0,None,None,NaN
641488,2024,CAR,WR,WR,36.0,CUT,Devin Carter,Devin,Carter,NaT,...,W03,Devin,CAR643446,58023,32004341-5264-3446-b3a7-f8c6040fde20,2024.0,2024.0,None,None,NaN

In [23]:
no_bday['esb_id'].nunique()

811

In [24]:
no_bday.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9043 entries, 166278 to 641488
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   9043 non-null   int32
 1   team                     9043 non-null   object
 2   position                 9043 non-null   object
 3   depth_chart_position     9039 non-null   object
 4   jersey_number            8930 non-null   object
 5   status                   9039 non-null   object
 6   player_name              9043 non-null   object
 7   first_name               9043 non-null   object
 8   last_name                9043 non-null   object
 9   birth_date               0 non-null      datetime64[ns]
 10  height                   8955 non-null   float64
 11  weight                   9041 non-null   float64
 12  college                  8754 non-null   object
 13  player_id                8957 non-null   object
 14  espn_id                  3139 non-null   object
 15  sportradar_id            3224 non-null   object
 16  yahoo_id                 3209 non-null   object
 17  rotowire_id              3246 non-null   object
 18  pff_id                   3113 non-null   object
 19  pfr_id                   1449 non-null   object
 20  fantasy_data_id          3135 non-null   object
 21  sleeper_id               3242 non-null   object
 22  years_exp                8834 non-null   float64
 23  headshot_url             8600 non-null   object
 24  ngs_position             0 non-null      object
 25  week                     9043 non-null   int32
 26  game_type                9043 non-null   object
 27  status_description_abbr  570 non-null    object
 28  football_name            9042 non-null   object
 29  esb_id                   9010 non-null   object
 30  gsis_it_id               8893 non-null   object
 31  smart_id                 8905 non-null   object
 32  entry_year               8834 non-null   float64
 33  rookie_year              8795 non-null   float64
 34  draft_club               1673 non-null   object
 35  draft_number             73 non-null     object
 36  age                      0 non-null      float64
dtypes: datetime64[ns](1), float64(6), int32(2), object(28)
memory usage: 2.6+ MB

**I have a feeling that players that were cut may have data in some weeks. My reasoning is that cut players were actually on the roster at some point and their birthdays should be available.**

I know that Shayne Graham from above played for many years in the league, so I assume his birthday should be available. Looking at his information further in the full roster set to see if his bday is out there

In [25]:
ff_weekly[ff_weekly['player_name'] == 'Shayne Graham']

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
2696,2009,CIN,K,None,17,ACT,Shayne Graham,Shayne,Graham,1977-12-09,...,A01,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,2000.0,2000.0,None,None,31.819
2697,2009,CIN,K,None,17,ACT,Shayne Graham,Shayne,Graham,1977-12-09,...,A01,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,2000.0,2000.0,None,None,31.858
2698,2009,CIN,K,None,17,ACT,Shayne Graham,Shayne,Graham,1977-12-09,...,A01,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,2000.0,2000.0,None,None,31.762
2699,2009,CIN,K,None,17,ACT,Shayne Graham,Shayne,Graham,1977-12-09,...,A01,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,2000.0,2000.0,None,None,32.085
2700,2009,CIN,K,None,17,ACT,Shayne Graham,Shayne,Graham,1977-12-09,...,A01,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,2000.0,2000.0,None,None,31.992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190306,2015,ATL,K,None,6,ACT,Shayne Graham,Shayne,Graham,1977-12-09,...,A01,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,2000.0,2000.0,None,None,38.048
222324,2016,ATL,K,K,6.0,CUT,Shayne Graham,Shayne,Graham,NaT,...,None,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,NaN,NaN,None,None,NaN
222325,2016,ATL,K,K,6.0,CUT,Shayne Graham,Shayne,Graham,NaT,...,None,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,NaN,NaN,None,None,NaN
222326,2016,ATL,K,K,6.0,ACT,Shayne Graham,Shayne,Graham,NaT,...,A01,Shayne,GRA217171,26127,32004752-4121-7171-4b31-b84625809e98,2000.0,2000.0,None,None,NaN
222327,2016,ATL,K,K,6.0,CUT,Shayne Graham,Shayne,Graham,NaT,...,None,Shayne,GRA217171,None,32004752-4121-7171-4b31-b84625809e98,NaN,NaN,None,None,NaN

In [26]:
# check to see if there are different Shayne Graham's for this player ID

ff_weekly[ff_weekly['player_name'] == 'Shayne Graham']['esb_id'].nunique()

1

**Per above, there is only one unique ID attributed to the name Shayne Graham. That means this is the same player. Some of the information is missing for certain weeks and some isn't. I will take the IDs with missing birthdays and fill in their birthdays if there is a row with a birthday that shares that same ID**

In [27]:
# Fill in birthdays in fashion outlined above

ff_weekly['birth_date'] = ff_weekly.groupby('esb_id')['birth_date'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else pd.NaT))

C:\Users\nick_\AppData\Local\Temp\ipykernel_6736\2050101156.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ff_weekly['birth_date'] = ff_weekly.groupby('esb_id')['birth_date'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else pd.NaT))

In [28]:
# check how many IDs have missing birthdays now that values have added

ff_weekly[ff_weekly['birth_date'].isna()]['esb_id'].nunique()

399

In [29]:
# Check again how many unique IDs there are

ff_weekly['esb_id'].nunique()

3802

**Still missing 10% of players bdays. Take a further look at those with missing now that we've eliminated half**

In [35]:
no_bday = ff_weekly[ff_weekly['birth_date'].isna()]

In [36]:
no_bday

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
177529,2014,SEA,WR,None,88,None,Phil Bates,Phillip,Bates,NaT,...,A01,Phil,BAT137358,None,32004241-5413-7358-a2cc-8d3ad6f94d03,2012.0,2012.0,None,None,NaN
177530,2014,SEA,WR,None,88,None,Phil Bates,Phillip,Bates,NaT,...,I01,Phil,BAT137358,None,32004241-5413-7358-a2cc-8d3ad6f94d03,2012.0,2012.0,None,None,NaN
177531,2014,CLV,WR,None,89,None,Phil Bates,Phillip,Bates,NaT,...,I01,Phil,BAT137358,None,32004241-5413-7358-a2cc-8d3ad6f94d03,2012.0,2012.0,None,None,NaN
226640,2016,CHI,RB,FB,36.0,ACT,Darrel Young,Darrel,Young,NaT,...,A01,Darrel,YOU170298,35089,3200594f-5517-0298-f836-c6523658d362,2009.0,2009.0,None,None,NaN
230036,2016,DAL,RB,FB,44.0,ACT,Tyler Clutts,Tyler,Clutts,NaT,...,A01,Tyler,CLU606964,33950,3200434c-5560-6964-784b-17a55d4bb080,2008.0,2011.0,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637414,2024,HOU,WR,WR,NaN,CUT,Jaxon Janke,Jaxon,Janke,NaT,...,A01,Jaxon,JAN439601,57733,None,2024.0,2024.0,None,None,NaN
638364,2024,MIN,WR,WR,NaN,CUT,Devron Harper,Devron,Harper,NaT,...,A01,Devron,None,57871,None,2024.0,2024.0,None,None,NaN
639281,2024,NYJ,WR,WR,NaN,CUT,Hamze El-Zayat,Hamze,El-Zayat,NaT,...,A01,Hamze,ELZ207645,57925,None,2024.0,2024.0,None,None,NaN
639282,2024,NYJ,RB,RB,NaN,CUT,Markese Stepp,Markese,Stepp,NaT,...,W03,Markese,None,57926,None,2024.0,2024.0,None,None,NaN
641488,2024,CAR,WR,WR,36.0,CUT,Devin Carter,Devin,Carter,NaT,...,W03,Devin,CAR643446,58023,32004341-5264-3446-b3a7-f8c6040fde20,2024.0,2024.0,None,None,NaN

**On first glance there are a handful of CUT player statuses with those missing birthdays.**

There is a good chance these players never saw an NFL field, therefore their data isn't relevant for this study. I will make a note to look at players later who played next to no snaps and will remove them.

**Taking a look now at players with missing ESB IDs to see if they are relevant**

In [37]:
no_bday[no_bday['esb_id'].isna()]

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
503307,2021,SEA,TE,TE,NaN,DEV,Mark Vital,Mark,Vital,NaT,...,P01,Mark,None,54098,None,2021.0,NaN,None,NaN,NaN
503308,2021,SEA,TE,TE,NaN,DEV,DeShon Williams,DeShon,Williams,NaT,...,P01,DeShon,None,54349,None,2021.0,2021.0,None,NaN,NaN
540269,2022,ATL,TE,TE,81.0,CUT,Brayden Lenius,Brayden,Lenius,NaT,...,A01,Brayden,None,49941,None,2019.0,2022.0,None,NaN,NaN
540471,2022,JAX,K,K,NaN,CUT,Andrew Mevis,Andrew,Mevis,NaT,...,A01,Andrew,None,54762,None,2022.0,2022.0,None,NaN,NaN
541579,2022,BAL,WR,WR,NaN,CUT,Trevon Clark,Trevon,Clark,NaT,...,A01,Trevon,None,54854,None,2022.0,2022.0,None,NaN,NaN
544871,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544872,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544873,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544874,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544875,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544876,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544877,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544878,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544879,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544880,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544881,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544882,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544883,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544884,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544885,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544886,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544887,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
547052,2022,JAX,TE,TE,NaN,CUT,Naz Bohannon,Naz,Bohannon,NaT,...,A01,Naz,None,55221,None,2021.0,2022.0,None,NaN,NaN
547100,2022,ARI,WR,WR,38.0,CUT,Jared Smart,Jared,Smart,NaT,...,A01,Jared,None,55232,None,2022.0,2022.0,None,NaN,NaN
549468,2022,JAX,QB,QB,NaN,RES,Nathan Rourke,Nathan,Rourke,NaT,...,R23,Nathan,None,54152,None,2020.0,NaN,None,NaN,NaN
633779,2024,SEA,RB,RB,NaN,ACT,TaMerik Williams,TaMerik,Williams,NaT,...,A01,TaMerik,None,57457,None,2024.0,2024.0,None,NaN,NaN
635950,2024,DET,K,K,43.0,CUT,James Turner,James,Turner,NaT,...,A01,James,None,57563,None,2024.0,2024.0,None,NaN,NaN
636321,2024,MIA,QB,QB,16.0,ACT,Gavin Hardison,Gavin,Hardison,NaT,...,A01,Gavin,None,57597,None,2024.0,2024.0,None,NaN,NaN
637014,2024,JAX,WR,WR,83.0,RES,Wayne Ruby,Wayne,Ruby,NaT,...,R34,Wayne,None,57679,None,2024.0,2024.0,None,NaN,NaN
637126,2024,DEN,TE,TE,84.0,ACT,Dylan Leonard,Dylan,Leonard,NaT,...,A01,Dylan,None,57694,None,2024.0,2024.0,None,NaN,NaN
637201,2024,IND,WR,WR,7.0,CUT,Xavier White,Xavier,White,NaT,...,A01,Xavier,None,57699,None,2024.0,2024.0,None,NaN,NaN
638364,2024,MIN,WR,WR,NaN,CUT,Devron Harper,Devron,Harper,NaT,...,A01,Devron,None,57871,None,2024.0,2024.0,None,NaN,NaN
639282,2024,NYJ,RB,RB,NaN,CUT,Markese Stepp,Markese,Stepp,NaT,...,W03,Markese,None,57926,None,2024.0,2024.0,None,NaN,NaN

In [42]:
ff_weekly[ff_weekly['player_name'] == 'Corey Sutton']

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
544871,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544872,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544873,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544874,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544875,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544876,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544877,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544878,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544879,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544880,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544881,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544882,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544883,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544884,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544885,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544886,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN
544887,2022,DET,WR,WR,NaN,RET,Corey Sutton,Corey,Sutton,NaT,...,R02,Corey,None,55029,None,2022.0,2022.0,None,NaN,NaN

In [48]:
ff_weekly = ff_weekly[ff_weekly['esb_id'].notna()]

In [50]:
ff_weekly['esb_id'].isna().sum()

0

In [59]:
ff_weekly[(ff_weekly['birth_date'].isna()) & (ff_weekly['status'] == 'CUT')]

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
232127,2016,DAL,QB,QB,NaN,CUT,Jerrod Johnson,Jerrod,Johnson,NaT,...,None,Jerrod,JOH344163,None,32004a4f-4834-4163-eb38-208cbed4c4ad,NaN,NaN,None,None,NaN
232771,2016,KC,WR,WR,89.0,CUT,Kashif Moore,Kashif,Moore,NaT,...,None,Kashif,MOO445899,None,32004d4f-4f44-5899-322d-4b4f567300f7,NaN,NaN,None,None,NaN
238073,2016,SEA,WR,WR,17.0,CUT,Uzoma Nwachukwu,Uzoma,Nwachukwu,NaT,...,None,Uzoma,NWA118653,40700,32004e57-4111-8653-1061-f355d798ab90,2013.0,2013.0,None,None,NaN
238074,2016,SEA,WR,WR,17.0,CUT,Uzoma Nwachukwu,Uzoma,Nwachukwu,NaT,...,None,Uzoma,NWA118653,40700,32004e57-4111-8653-1061-f355d798ab90,2013.0,2013.0,None,None,NaN
238075,2016,SEA,WR,WR,17.0,CUT,Uzoma Nwachukwu,Uzoma,Nwachukwu,NaT,...,None,Uzoma,NWA118653,40700,32004e57-4111-8653-1061-f355d798ab90,2013.0,2013.0,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595138,2023,MIN,RB,RB,46.0,CUT,Aaron Dykes,Aaron,Dykes,NaT,...,W03,Aaron,DYK077058,56716,32004459-4b07-7058-648c-4cd00a392f36,2023.0,NaN,None,None,NaN
635985,2024,LAC,TE,TE,85.0,CUT,Isaac Rex,Isaac,Rex,NaT,...,W03,Isaac,REX207645,57566,32005245-5820-7645-ebd2-898988316238,2024.0,2024.0,None,None,NaN
637414,2024,HOU,WR,WR,NaN,CUT,Jaxon Janke,Jaxon,Janke,NaT,...,A01,Jaxon,JAN439601,57733,None,2024.0,2024.0,None,None,NaN
639281,2024,NYJ,WR,WR,NaN,CUT,Hamze El-Zayat,Hamze,El-Zayat,NaT,...,A01,Hamze,ELZ207645,57925,None,2024.0,2024.0,None,None,NaN
641488,2024,CAR,WR,WR,36.0,CUT,Devin Carter,Devin,Carter,NaT,...,W03,Devin,CAR643446,58023,32004341-5264-3446-b3a7-f8c6040fde20,2024.0,2024.0,None,None,NaN

In [51]:
no_bday = ff_weekly[ff_weekly['birth_date'].isna()]

399

In [30]:
# Look at one teams IR for one week and see what it looks like in news/game logs

# car_wk1_2024 = roster_weekly[(roster_weekly['team'] == 'CAR') & (roster_weekly['week'] == 1) & (roster_weekly['season'] == 2024)]

In [31]:
# car_wk1_2024[car_wk1_2024['status'] == 'RES']

In [32]:
# ids = nfl.import_ids()

In [33]:
# ids.head()

In [34]:
# ids.info()